.numbers {
  padding: 140px 0 140px; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .numbers {
      padding: 60px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers {
      padding: 40px 0; } }
  .numbers__title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__title {
        font-size: 20px; } }
  .numbers__feature-list {
    margin: 70px auto 0;
    text-align: left;
    border: 1px solid #0f1539;
    padding: 30px 0px 0px 130px;
    max-width: 90%; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__feature-list {
        padding: 30px 0px 0px 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature-list {
        display: block;
        max-width: 100%;
        border: none;
        margin: 0;
        padding: 20px; } }
  .numbers__feature {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 31%; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 20px 0;
        border-top: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__feature {
        display: block; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:first-child {
        border-top: none; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:nth-of-type(3), .numbers__feature:nth-of-type(5) {
        margin-top: -1px; } }
  .numbers__num {
    font-size: 100px;
    font-weight: bold;
    line-height: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__num {
        font-size: 70px; } }
  .numbers__caption {
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    background-color: #fff;
    margin-bottom: -55px;
    letter-spacing: 0.05em;
    padding: 0 20px 0 10px;
    margin-left: -10px;
    text-transform: uppercase; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__caption {
        font-size: 18px;
        margin-bottom: 0;
        display: block; } }
  .numbers__description-list {
    max-width: 90%;
    margin: 60px auto 0;
    text-align: left; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description-list {
        display: none; } }
  .numbers__description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 21%;
    font-size: 18px;
    line-height: 1.55;
    margin-left: 100px;
    color: #000;
    letter-spacing: 0.04em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__description {
        max-width: 25%; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description {
        display: inline-block;
        vertical-align: top;
        max-width: 69%;
        margin-left: 0px;
        margin-top: 30px;
        border-bottom: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__description {
        display: block;
        max-width: 100%; } }
    .numbers__description:first-child {
      margin-left: 130px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:first-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:first-child {
          margin-left: -3px; } }
    .numbers__description:nth-child(2) {
      margin-left: 60px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:nth-child(2) {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:nth-child(2) {
          margin-left: -3px; } }
    .numbers__description:last-child {
      margin-left: 70px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:last-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:last-child {
          border-bottom: none;
          margin-left: 0; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description:nth-child(4) {
        margin-left: -3px; } }
  .numbers__button:focus, .numbers a.numbers__button:focus {
    color: #fff; }
  .numbers__button_first {
    margin-top: 95px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__button_first {
        margin: 25px 0 45px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers__button_last {
      margin-bottom: 30px; } }

.scroller_portfolio {
  margin-top: 70px; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .scroller_portfolio {
      margin-top: 50px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller_portfolio {
      margin-top: 30px;
      background-color: rgba(0, 2, 59, 0.6); } }

.scroller_process {
  text-align: right;
  color: #fff; }

.scroller__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff; }

.scroller__item_2011 {
  background-image: url("../img/about/photo_2011.jpg"); }

.scroller__item_2013 {
  background-image: url("../img/about/photo_2013.jpg"); }

.scroller__item_2015 {
  background-image: url("../img/about/photo_2015.jpg"); }

.scroller__item_2016 {
  background-image: url("../img/about/photo_2016.jpg"); }

.scroller__item_zsd {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__item_loko {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__item_eco {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__item_plaza {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .scroller__grid_portfolio {
    background-color: rgba(0, 2, 59, 0.6); } }

.scroller__column {
  position: relative; }

.scroller__column_portfolio {
  background-color: rgba(0, 2, 59, 0.6);
  border-left: 1px solid #fff;
  padding-top: 90px;
  padding-bottom: 90px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__column_portfolio {
      padding-top: 25px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__column_portfolio {
      background-color: transparent; } }

.scroller__column_right {
  padding-top: 340px;
  padding-bottom: 30px; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__column_right {
      padding-top: 60px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__column_right {
      padding-top: 10px; } }

.scroller__title {
  font-size: 30px;
  padding: 50px 0;
  letter-spacing: 3px;
  font-weight: bold; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__title {
      padding: 30px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__title {
      font-size: 23px; } }

.scroller__title_size-xl {
  font-size: 60px;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .scroller__title_size-xl {
      font-size: 40px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__title_size-xl {
      font-size: 25px; } }

.scroller__subtitle {
  font-size: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__subtitle {
      font-size: 18px; } }

.scroller__subtitle_size-xl {
  font-size: 25px; }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__subtitle_size-xl {
      font-size: 20px; } }

.scroller__description {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.55;
  max-width: 400px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__description {
      font-size: 16px; } }

.scroller__button {
  margin-left: 50px;
  letter-spacing: 0.04em;
  display: inline-block !important;
  vertical-align: top !important; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__button {
      margin-left: 0; } }

.scroller__icons {
  display: block; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__icons {
      padding: 70px 0 50px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__icons {
      padding: 30px 0 0px; } }

.scroller__icons_process {
  margin-bottom: 20px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .scroller__icon_process:last-of-type {
    margin-left: 40px; } }

.scroller__line {
  margin: 0;
  padding: 0; }

.scroller__line_about {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 340px;
  right: 45%;
  border-right: 1px solid #fff; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__line_about {
      padding-top: 60px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__line_about {
      padding-top: 10px;
      right: 5%; } }

.scroller__line_portfolio {
  margin-left: -15px;
  margin-bottom: 80px; }

.scroller__line_process {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 340px;
  border-left: 1px solid #FFF; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__line_process {
      padding-top: 240px; } }

.scroller__point {
  font-size: 19px;
  letter-spacing: 0.14em;
  list-style-type: none;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  padding: 20px 10px;
  margin-right: -3px; }
  .scroller__point:after {
    position: absolute;
    display: block;
    content: ' ';
    border-top: 2px solid #fff;
    width: 5px;
    bottom: 0; }
  .scroller__point:active {
    font-size: 25px; }
    .scroller__point:active:after {
      display: none; }

.scroller__point_portfolio {
  height: 70px;
  font-weight: normal;
  font-size: 18px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__point_portfolio {
      font-size: 18px; } }
  .scroller__point_portfolio:after {
    left: -3px; }
  .scroller__point_portfolio:hover {
    border-left: 3px solid #fff;
    margin-left: -2px;
    padding-left: 6px; }
  .scroller__point_portfolio:hover:after {
    left: -4px; }
  .scroller__point_portfolio:active {
    border-left: 5px solid #fff !important;
    padding-left: 5px !important;
    margin-left: -3px !important;
    font-weight: bold; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .scroller__point_portfolio:active {
        font-size: 20px; } }
    .scroller__point_portfolio:active:after {
      display: none; }

.scroller__point_about {
  text-align: right; }
  .scroller__point_about:after {
    right: 0px; }
  .scroller__point_about:hover {
    border-right: 3px solid #fff;
    margin-right: -2px; }
  .scroller__point_about:hover:after {
    right: -4px; }
  .scroller__point_about:active {
    border-right: 5px solid #fff !important;
    padding-right: 5px !important;
    margin-right: -3px !important; }

.scroller__point_process {
  text-align: left;
  display: block;
  width: 20%; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .scroller__point_process {
      padding: 15px; } }
  .scroller__point_process:after {
    left: -3px; }
  .scroller__point_process:hover {
    border-left: 3px solid #fff;
    margin-left: -2px;
    padding-left: 10px; }
  .scroller__point_process:hover:after {
    left: -4px; }
  .scroller__point_process:active {
    border-left: 5px solid #fff !important;
    padding-left: 10px !important;
    margin-left: -3px !important;
    font-weight: bold; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .scroller__point_process:active {
        font-size: 20px; } }
    .scroller__point_process:active:after {
      display: none; }

.scroller__point_active-about {
  font-size: 25px;
  border-right: 5px solid #fff !important;
  padding-right: 5px !important;
  margin-right: -3px !important; }
  .scroller__point_active-about:after {
    display: none; }

.scroller__point_active-portfolio {
  font-size: 25px;
  border-left: 5px solid #fff !important;
  padding-left: 5px !important;
  margin-left: -3px !important;
  font-weight: bold; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__point_active-portfolio {
      font-size: 20px; } }
  .scroller__point_active-portfolio:after {
    display: none; }

.scroller__square_process {
  margin-bottom: 15px; }

.textcontent {
  padding: 95px 0;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .textcontent {
      padding: 60px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .textcontent {
      padding: 30px 0; } }
  .textcontent__title {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #0f1539;
    margin-bottom: 45px; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .textcontent__title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .textcontent__title {
        font-size: 27px;
        margin-bottom: 25px; } }
  .textcontent__title_size-m {
    font-size: 45px;
    margin-top: 24px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .textcontent__title_size-m {
        font-size: 30px;
        text-align: center;
        margin-top: 0; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .textcontent__title_size-m {
        font-size: 20px;
        margin-top: 0;
        text-align: center; } }
  .textcontent__description {
    color: #0f1539;
    font-size: 18px;
    line-height: 1.66;
    margin-top: 25px;
    letter-spacing: 0.04em; }
  .textcontent__button {
    margin-top: 60px; }
  .textcontent__square {
    margin-bottom: 10px; }

.docs {
  padding-bottom: 100px;
  background-color: #f0f0f0; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .docs {
      padding-bottom: 80px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .docs {
      padding-bottom: 50px; } }
  .docs_feedback {
    background-color: transparent; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .docs_feedback {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .docs_feedback {
        font-size: 14px; } }
  .docs__item {
    margin-bottom: 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .docs__item:nth-child(2) {
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .docs__item:nth-child(2) {
          -webkit-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse; } }
  .docs__title {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 120px 0; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .docs__title {
        font-size: 40px;
        padding: 60px 0; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .docs__title {
        font-size: 20px;
        padding: 30px; } }
  .docs__title_feedback {
    font-size: 40px;
    padding: 0 0 75px;
    text-align: right; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .docs__title_feedback {
        font-size: 30px;
        padding-bottom: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .docs__title_feedback {
        font-size: 20px;
        padding-bottom: 20px; } }
  .docs__description {
    color: #0f1539; }
  .docs__description_feedback {
    color: #9d9d9d;
    font-size: 16px; }
  .docs__description-wrap {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 0;
    position: relative;
    z-index: 3;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-property: color;
    transition-duration: 0.3s;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .docs__description-wrap {
        font-size: 14px; } }
    .docs__description-wrap:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #0e1339;
      content: ' ';
      display: block;
      opacity: 0.3;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
      transition-property: opacity, -webkit-transform;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .docs__description-wrap:focus {
      outline: none; }
    .docs__description-wrap:hover:after {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 0.3; }
    .docs__description-wrap:focus:after, .docs__description-wrap:active:after {
      opacity: 0.5;
      z-index: -1;
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
  .docs__description_text-left {
    text-align: left;
    padding-left: 25px;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .docs__description_text-right {
    text-align: right;
    padding-right: 25px;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .docs__description_text-right {
        text-align: left;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 25px; } }
    .docs__description_text-right:after {
      -webkit-transform-origin: 100% 50%;
          -ms-transform-origin: 100% 50%;
              transform-origin: 100% 50%; }
  .docs__item_right {
    text-align: right; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .docs__icon-wrap {
      max-width: 90px; } }
  .docs__icon {
    max-width: 100%; }
  .docs__icon-wrap_border-right {
    padding-right: 20px;
    border-right: 1px solid #0f1539; }
  .docs__icon-wrap_border-left {
    padding-left: 20px;
    border-left: 1px solid #0f1539; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .docs__icon-wrap_border-left {
        border-left: none;
        padding-left: 0;
        padding-right: 20px;
        border-right: 1px solid #0f1539; } }
  .docs__icon_order-end {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

.textbutton,
a.textbutton,
button.textbutton {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  border: 1px solid #0f1539;
  font-weight: bold;
  color: #000;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 3;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-property: color;
  transition-duration: 0.3s;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  background-color: transparent; }
  .textbutton:after,
  a.textbutton:after,
  button.textbutton:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #0f1539;
    content: ' ';
    display: block;
    opacity: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .textbutton:hover:after,
  a.textbutton:hover:after,
  button.textbutton:hover:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0.3; }
  .textbutton:focus, .textbutton:active,
  a.textbutton:focus,
  a.textbutton:active,
  button.textbutton:focus,
  button.textbutton:active {
    color: #fff; }
  .textbutton:focus:after, .textbutton:active:after,
  a.textbutton:focus:after,
  a.textbutton:active:after,
  button.textbutton:focus:after,
  button.textbutton:active:after {
    opacity: 0.7;
    z-index: -1;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
  .textbutton_inverted,
  a.textbutton_inverted,
  button.textbutton_inverted {
    color: #fff;
    border: 1px solid #fff; }
  .textbutton_inverted:focus, .textbutton_inverted:active,
  a.textbutton_inverted:focus,
  a.textbutton_inverted:active,
  button.textbutton_inverted:focus,
  button.textbutton_inverted:active {
    color: #0f1539; }
  .textbutton_inverted:after,
  a.textbutton_inverted:after,
  button.textbutton_inverted:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    content: ' ';
    display: block;
    opacity: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
  .textbutton_inverted:hover:after,
  a.textbutton_inverted:hover:after,
  button.textbutton_inverted:hover:after {
    opacity: 0.3;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
  .textbutton_inverted:focus:after, .textbutton_inverted:active:after,
  a.textbutton_inverted:focus:after,
  a.textbutton_inverted:active:after,
  button.textbutton_inverted:focus:after,
  button.textbutton_inverted:active:after {
    opacity: 0.7;
    z-index: -1;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }
  .textbutton_size-l,
  a.textbutton_size-l,
  button.textbutton_size-l {
    font-size: 22px;
    padding: 30px 25px;
    max-width: 200px;
    min-height: 120px;
    line-height: 1.27; }
  .textbutton_size-m,
  a.textbutton_size-m,
  button.textbutton_size-m {
    font-size: 18px;
    width: 120px;
    height: 120px; }
  .textbutton_size-s,
  a.textbutton_size-s,
  button.textbutton_size-s {
    font-size: 18px;
    width: 95px;
    height: 95px;
    font-weight: bold; }
  .textbutton_centered,
  a.textbutton_centered,
  button.textbutton_centered {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto; }
