.numbers {
  padding: 140px 0 140px; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .numbers {
      padding: 60px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers {
      padding: 40px 0; } }
  .numbers__title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__title {
        font-size: 20px; } }
  .numbers__feature-list {
    margin: 70px auto 0;
    text-align: left;
    border: 1px solid #0f1539;
    padding: 30px 0px 0px 130px;
    max-width: 90%; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__feature-list {
        padding: 30px 0px 0px 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature-list {
        display: block;
        max-width: 100%;
        border: none;
        margin: 0;
        padding: 20px; } }
  .numbers__feature {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 31%; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 20px 0;
        border-top: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__feature {
        display: block; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:first-child {
        border-top: none; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:nth-of-type(3), .numbers__feature:nth-of-type(5) {
        margin-top: -1px; } }
  .numbers__num {
    font-size: 100px;
    font-weight: bold;
    line-height: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__num {
        font-size: 70px; } }
  .numbers__caption {
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    background-color: #fff;
    margin-bottom: -55px;
    letter-spacing: 0.05em;
    padding: 0 20px 0 10px;
    margin-left: -10px;
    text-transform: uppercase; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__caption {
        font-size: 18px;
        margin-bottom: 0;
        display: block; } }
  .numbers__description-list {
    max-width: 90%;
    margin: 60px auto 0;
    text-align: left; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description-list {
        display: none; } }
  .numbers__description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 21%;
    font-size: 18px;
    line-height: 1.55;
    margin-left: 100px;
    color: #000;
    letter-spacing: 0.04em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__description {
        max-width: 25%; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description {
        display: inline-block;
        vertical-align: top;
        max-width: 69%;
        margin-left: 0px;
        margin-top: 30px;
        border-bottom: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__description {
        display: block;
        max-width: 100%; } }
    .numbers__description:first-child {
      margin-left: 130px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:first-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:first-child {
          margin-left: -3px; } }
    .numbers__description:nth-child(2) {
      margin-left: 60px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:nth-child(2) {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:nth-child(2) {
          margin-left: -3px; } }
    .numbers__description:last-child {
      margin-left: 70px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:last-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:last-child {
          border-bottom: none;
          margin-left: 0; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description:nth-child(4) {
        margin-left: -3px; } }
  .numbers__button:focus, .numbers a.numbers__button:focus {
    color: #fff; }
  .numbers__button_first {
    margin-top: 95px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__button_first {
        margin: 25px 0 45px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers__button_last {
      margin-bottom: 30px; } }

.personal {
  background-color: #0f1539;
  color: #fff;
  padding: 55px 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .personal {
      padding: 35px 0; } }
  .personal__info {
    font-size: 17px;
    text-align: right; }
  .personal__name {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 35%; }
  .personal__post {
    font-size: 15px; }
  .personal__description {
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__description {
        font-size: 14px;
        text-align: center; } }
  .personal__image-wrapper {
    border-left: 1px solid #fff; }
  .personal__table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 90px;
    font-size: 19px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__table {
        margin-top: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .personal__table {
        font-size: 14px; } }
    .personal__table td {
      padding: 8px 0;
      vertical-align: top;
      border-bottom: 1px solid #9d9d9d; }
  .personal__key {
    color: #9d9d9d;
    width: 40%; }
  .personal__value {
    color: #fff; }

.company {
  padding: 120px 0;
  color: #9d9d9d;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #9d9d9d; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .company {
      padding: 70px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .company {
      padding: 40px 0; } }
  .company:after {
    position: absolute;
    content: ' ';
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-in-out; }
  .company:hover:after {
    opacity: 1; }
  .company:hover {
    color: #fff; }
    .company:hover:hover .company__button {
      visibility: visible;
      opacity: 1; }
  .company__title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .company__title {
        font-size: 35px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .company__title {
        font-size: 25px; } }
  .company__description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .company__description {
        font-size: 16px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .company__description {
        font-size: 14px; } }
  .company__person {
    font-size: 20px;
    font-weight: bold; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .company__person {
        font-size: 18px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .company__person {
        font-size: 14px; } }
  .company__post {
    font-weight: normal; }
  .company__logos {
    margin-top: 65px; }
  .company__logo-wrap {
    display: inline-block;
    padding-left: 30px; }
  .company__img-logo {
    display: inline-block;
    vertical-align: top; }
  .company__text-logo {
    display: block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .company__text-logo {
        font-size: 18px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .company__text-logo {
        font-size: 14px; } }
  .company__year {
    font-size: 20px;
    line-height: 1; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .company__year {
        font-size: 16px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .company__year {
        font-size: 14px; } }
  .company__button {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease;
    background-image: url("../img/icon_eye.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-color: rgba(15, 21, 57, 0.4);
    margin-top: 60px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 17px;
    font-weight: bold;
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px; }
  .company_eco:after {
    background-image: url("../img/clients/bg_eco.jpg"); }
  .company_eco:hover .company__img-logo {
    background-image: url("../img/logo_eco.png"); }
  .company__img-logo_eco {
    background-image: url("../img/logo_eco-gray.png");
    width: 153px;
    height: 47px; }
  .company_plaza:after {
    background-image: url("../img/clients/bg_plaza.jpg"); }
  .company_plaza:hover .company__img-logo_plaza {
    background-image: url("../img/logo_plaza-gray.png");
    background-color: #fff; }
  .company__img-logo_plaza {
    background-image: url("../img/logo_plaza.png");
    background-color: #9d9d9d;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 214px;
    height: 50px; }
  .company_loko:after {
    background-image: url("../img/clients/bg_loko.jpg"); }
  .company_loko:hover .company__img-logo_loko {
    background-image: url("../img/logo_loko-black.png"); }
  .company__img-logo_loko {
    background-image: url("../img/logo_loko.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #fff;
    width: 95px;
    height: 95px; }

a.more__button {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 20px 0; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    a.more__button {
      margin-top: 50px;
      margin-bottom: 50px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    a.more__button {
      margin-top: 20px;
      margin-bottom: 20px; } }
