.numbers {
  padding: 140px 0 140px; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .numbers {
      padding: 60px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers {
      padding: 40px 0; } }
  .numbers__title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__title {
        font-size: 20px; } }
  .numbers__feature-list {
    margin: 70px auto 0;
    text-align: left;
    border: 1px solid #0f1539;
    padding: 30px 0px 0px 130px;
    max-width: 90%; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__feature-list {
        padding: 30px 0px 0px 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature-list {
        display: block;
        max-width: 100%;
        border: none;
        margin: 0;
        padding: 20px; } }
  .numbers__feature {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 31%; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 20px 0;
        border-top: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__feature {
        display: block; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:first-child {
        border-top: none; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:nth-of-type(3), .numbers__feature:nth-of-type(5) {
        margin-top: -1px; } }
  .numbers__num {
    font-size: 100px;
    font-weight: bold;
    line-height: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__num {
        font-size: 70px; } }
  .numbers__caption {
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    background-color: #fff;
    margin-bottom: -55px;
    letter-spacing: 0.05em;
    padding: 0 20px 0 10px;
    margin-left: -10px;
    text-transform: uppercase; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__caption {
        font-size: 18px;
        margin-bottom: 0;
        display: block; } }
  .numbers__description-list {
    max-width: 90%;
    margin: 60px auto 0;
    text-align: left; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description-list {
        display: none; } }
  .numbers__description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 21%;
    font-size: 18px;
    line-height: 1.55;
    margin-left: 100px;
    color: #000;
    letter-spacing: 0.04em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__description {
        max-width: 25%; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description {
        display: inline-block;
        vertical-align: top;
        max-width: 69%;
        margin-left: 0px;
        margin-top: 30px;
        border-bottom: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__description {
        display: block;
        max-width: 100%; } }
    .numbers__description:first-child {
      margin-left: 130px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:first-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:first-child {
          margin-left: -3px; } }
    .numbers__description:nth-child(2) {
      margin-left: 60px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:nth-child(2) {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:nth-child(2) {
          margin-left: -3px; } }
    .numbers__description:last-child {
      margin-left: 70px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:last-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:last-child {
          border-bottom: none;
          margin-left: 0; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description:nth-child(4) {
        margin-left: -3px; } }
  .numbers__button:focus, .numbers a.numbers__button:focus {
    color: #fff; }
  .numbers__button_first {
    margin-top: 95px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__button_first {
        margin: 25px 0 45px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers__button_last {
      margin-bottom: 30px; } }

.showroom {
  padding-top: 90px;
  padding-bottom: 200px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .showroom {
      padding: 60px 0; } }
  .showroom__title {
    text-align: center;
    font-size: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .showroom__title {
        font-size: 30px; } }
  .showroom__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    @media only screen and (min-width: 321px) and (max-width: 768px) {
      .showroom__list {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 320px) {
      .showroom__list {
        width: 100%; } }
    .showroom__list:before {
      content: " ";
      display: table; }
    .showroom__list:after {
      clear: both;
      content: " ";
      display: table; }
  .showroom__item {
    float: left;
    width: 25%;
    padding-right: 1px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__item {
        width: 50%;
        padding-bottom: 1px; } }
    .showroom__item:last-child {
      padding-right: 0; }
  .showroom__link {
    display: block;
    position: relative;
    height: 630px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #0f1539;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: #0f1539;
    z-index: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__link {
        height: 180px; } }
    .showroom__link:after {
      position: absolute;
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: #0f1539;
      opacity: 0;
      z-index: -1; }
    .showroom__link:hover:after {
      opacity: 0.35; }
    .showroom__link:active:after {
      opacity: 0.55; }
  .showroom__link_text-light {
    color: #fff; }
  .showroom__link_proposal:after {
    display: none; }
  .showroom__link_proposal:hover {
    background-color: rgba(15, 21, 57, 0.9); }
  .showroom__link_proposal:active {
    background-color: rgba(15, 21, 57, 0.7); }
  .showroom__proposal {
    position: absolute;
    bottom: 70px;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__proposal {
        font-size: 14px; } }
  .showroom__description {
    position: absolute;
    bottom: 70px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__description {
        font-size: 14px; } }
  .showroom__year {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__year {
        font-size: 14px; } }
  .showroom__controls {
    text-align: center;
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__controls {
        margin-top: 30px; } }
  .showroom__control {
    position: relative;
    width: 32px;
    color: #0f1539;
    border: 1px solid #0f1539;
    display: inline-block;
    padding: 5px 0; }
  .showroom__control-text {
    position: absolute;
    top: 5px;
    left: -130px;
    color: #9d9d9d; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .showroom__control-text {
        max-width: 80px;
        left: -80px;
        top: 0; } }

.banner {
  position: relative;
  margin-top: 90px;
  min-height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner_contacts {
    min-height: initial;
    margin-top: 0; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .banner_contacts {
        min-height: 500px; } }
  .banner__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 2, 59, 0.6);
    color: #fff;
    text-align: right;
    padding: 45px 30px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .banner__text {
        padding: 10px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__text {
        width: 55%; } }
  .banner__text_contacts {
    width: 35%;
    padding: 100px 30px 25px;
    position: static; }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
      .banner__text_contacts {
        padding: 70px 30px 20px;
        width: 40%; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__text_contacts {
        width: 50%;
        padding: 50px 20px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__text_contacts {
        width: 100%;
        padding: 35px 20px 10px;
        text-align: center;
        max-height: 50%;
        position: absolute;
        overflow: hidden; } }
  .banner__title {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .banner__title {
        font-size: 18px; } }
    @media only screen and (min-width: 320px) and (max-width: 380px) {
      .banner__title {
        padding: 10px 0;
        font-size: 16px;
        line-height: 1; } }
  .banner__title_contacts {
    font-size: 40px;
    padding: 0;
    text-transform: uppercase; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__title_contacts {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__title_contacts {
        font-size: 20px; } }
  .banner__description {
    font-size: 18px;
    margin: 0;
    padding-bottom: 60px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__description {
        font-size: 16px;
        padding-bottom: 10px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__description {
        font-size: 16px;
        padding-bottom: 5px; } }
  .banner__description_contacts {
    padding-bottom: 0; }
  .banner__square {
    margin-top: 100px;
    margin-bottom: 100px; }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
      .banner__square {
        margin-top: 60px;
        margin-bottom: 60px; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__square {
        margin-top: 40px;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .banner__square {
        margin-top: 25px;
        margin-bottom: 25px; } }

.social {
  text-align: right; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .social {
      text-align: left;
      margin-top: 70px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .social {
      text-align: center;
      margin-top: 70px; } }
  .social_contacts {
    text-align: center;
    font-weight: bold; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .social_contacts {
        margin-top: 40px; } }
  .social__header {
    font-size: 40px;
    margin: 0;
    letter-spacing: 0.1em;
    font-weight: normal;
    text-transform: uppercase; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .social__header {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .social__header {
        font-size: 20px; } }
  .social__description {
    font-size: 18px;
    margin-bottom: 40px; }
  .social__icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 20px;
    position: relative; }
    .social__icon:before {
      position: absolute;
      top: 8px;
      left: 8px; }
  .social__icon_contacts {
    border: 1px solid #0f1539;
    color: #0f1539;
    margin-left: 25px; }

.personal {
  background-color: #0f1539;
  color: #fff;
  padding: 55px 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .personal {
      padding: 35px 0; } }
  .personal__info {
    font-size: 17px;
    text-align: right; }
  .personal__name {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 35%; }
  .personal__post {
    font-size: 15px; }
  .personal__description {
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__description {
        font-size: 14px;
        text-align: center; } }
  .personal__image-wrapper {
    border-left: 1px solid #fff; }
  .personal__table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 90px;
    font-size: 19px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__table {
        margin-top: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .personal__table {
        font-size: 14px; } }
    .personal__table td {
      padding: 8px 0;
      vertical-align: top;
      border-bottom: 1px solid #9d9d9d; }
  .personal__key {
    color: #9d9d9d;
    width: 40%; }
  .personal__value {
    color: #fff; }

.docs {
  padding-bottom: 100px;
  background-color: #f0f0f0; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .docs {
      padding-bottom: 80px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .docs {
      padding-bottom: 50px; } }
  .docs_feedback {
    background-color: transparent; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .docs_feedback {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .docs_feedback {
        font-size: 14px; } }
  .docs__item {
    margin-bottom: 60px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .docs__item:nth-child(2) {
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .docs__item:nth-child(2) {
          -webkit-flex-direction: row-reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse; } }
  .docs__title {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 120px 0; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .docs__title {
        font-size: 40px;
        padding: 60px 0; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .docs__title {
        font-size: 20px;
        padding: 30px; } }
  .docs__title_feedback {
    font-size: 40px;
    padding: 0 0 75px;
    text-align: right; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .docs__title_feedback {
        font-size: 30px;
        padding-bottom: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .docs__title_feedback {
        font-size: 20px;
        padding-bottom: 20px; } }
  .docs__description {
    color: #0f1539; }
  .docs__description_feedback {
    color: #9d9d9d;
    font-size: 16px; }
  .docs__description-wrap {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    margin: 0;
    position: relative;
    z-index: 3;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition-property: color;
    transition-duration: 0.3s;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .docs__description-wrap {
        font-size: 14px; } }
    .docs__description-wrap:after {
      z-index: -1;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #0e1339;
      content: ' ';
      display: block;
      opacity: 0.3;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
          -ms-transform-origin: 0 50%;
              transform-origin: 0 50%;
      transition-property: opacity, -webkit-transform;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; }
    .docs__description-wrap:focus {
      outline: none; }
    .docs__description-wrap:hover:after {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 0.3; }
    .docs__description-wrap:focus:after, .docs__description-wrap:active:after {
      opacity: 0.5;
      z-index: -1;
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
  .docs__description_text-left {
    text-align: left;
    padding-left: 25px;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .docs__description_text-right {
    text-align: right;
    padding-right: 25px;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .docs__description_text-right {
        text-align: left;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 25px; } }
    .docs__description_text-right:after {
      -webkit-transform-origin: 100% 50%;
          -ms-transform-origin: 100% 50%;
              transform-origin: 100% 50%; }
  .docs__item_right {
    text-align: right; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .docs__icon-wrap {
      max-width: 90px; } }
  .docs__icon {
    max-width: 100%; }
  .docs__icon-wrap_border-right {
    padding-right: 20px;
    border-right: 1px solid #0f1539; }
  .docs__icon-wrap_border-left {
    padding-left: 20px;
    border-left: 1px solid #0f1539; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .docs__icon-wrap_border-left {
        border-left: none;
        padding-left: 0;
        padding-right: 20px;
        border-right: 1px solid #0f1539; } }
  .docs__icon_order-end {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .form_subscribe {
    text-align: left; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form_subscribe {
    text-align: center; } }

.form__header {
  font-size: 40px;
  margin: 0;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .form__header {
      font-size: 30px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .form__header {
      font-size: 20px; } }

.form__header_feedback {
  padding-left: 15px; }

.form__description {
  font-size: 18px;
  margin-bottom: 40px; }

.form__description_feedback {
  margin-top: 80px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .form__description_feedback {
      margin-top: 40px;
      margin-bottom: 40px; } }

.form__input {
  margin-bottom: 30px; }

.form button.form__button {
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px; }

input.input, textarea.textarea {
  font-size: 18px;
  border: none;
  border-bottom: 4px solid #fff;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none; }
  input.input_wide, textarea.textarea_wide {
    width: 100%; }

.information {
  padding-top: 65px;
  padding-bottom: 90px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .information {
      padding-top: 30px;
      padding-bottom: 40px; } }
  .information__table {
    table-layout: fixed;
    width: 100%;
    font-size: 20px; }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .information__table {
        font-size: 14px; } }
    .information__table td {
      vertical-align: top;
      border-bottom: 1px solid #9d9d9d;
      padding: 20px 0; }
  .information__key {
    text-transform: uppercase;
    width: 30%;
    white-space: nowrap;
    color: #9d9d9d; }
  .information__value {
    color: #000; }

.map {
  padding-bottom: 100px; }

.feedback {
  background-color: #0f1539;
  color: #fff;
  padding: 85px 0;
  border-bottom: 1px solid #fff; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .feedback {
      font-size: 40px;
      padding: 35px 0 0; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .feedback {
      font-size: 35px;
      padding: 35px 0 0px; } }
  .feedback__title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center; }
  .feedback__square {
    margin-top: 60px;
    margin-bottom: 60px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .feedback__button {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 90px; } }

.docs__icon-wrap_border-left {
  border-left: 1px solid #fff;
  padding-left: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .docs__icon-wrap_border-left {
      padding-right: 0; } }

.docs__item:nth-child(2) {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .docs__item:nth-child(2) {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; } }
