.personal {
  background-color: #0f1539;
  color: #fff;
  padding: 55px 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .personal {
      padding: 35px 0; } }
  .personal__info {
    font-size: 17px;
    text-align: right; }
  .personal__name {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 35%; }
  .personal__post {
    font-size: 15px; }
  .personal__description {
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__description {
        font-size: 14px;
        text-align: center; } }
  .personal__image-wrapper {
    border-left: 1px solid #fff; }
  .personal__table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 90px;
    font-size: 19px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__table {
        margin-top: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .personal__table {
        font-size: 14px; } }
    .personal__table td {
      padding: 8px 0;
      vertical-align: top;
      border-bottom: 1px solid #9d9d9d; }
  .personal__key {
    color: #9d9d9d;
    width: 40%; }
  .personal__value {
    color: #fff; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .form_subscribe {
    text-align: left; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form_subscribe {
    text-align: center; } }

.form__header {
  font-size: 40px;
  margin: 0;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .form__header {
      font-size: 30px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .form__header {
      font-size: 20px; } }

.form__header_feedback {
  padding-left: 15px; }

.form__description {
  font-size: 18px;
  margin-bottom: 40px; }

.form__description_feedback {
  margin-top: 80px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .form__description_feedback {
      margin-top: 40px;
      margin-bottom: 40px; } }

.form__input {
  margin-bottom: 30px; }

.form button.form__button {
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px; }

input.input, textarea.textarea {
  font-size: 18px;
  border: none;
  border-bottom: 4px solid #fff;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none; }
  input.input_wide, textarea.textarea_wide {
    width: 100%; }

.partners {
  padding-top: 100px;
  padding-bottom: 75px;
  margin-top: 20px; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .partners {
      padding-top: 50px;
      padding-bottom: 75px;
      margin-top: 10px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .partners {
      padding-top: 35px;
      padding-bottom: 35px;
      margin-top: 0; } }
  .partners_key {
    background-color: #f0f0f0; }
  .partners__title {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .partners__title {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .partners__title {
        font-size: 20px; } }
  .partners__description {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 17px;
    color: #9d9d9d;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .partners__description {
        margin-top: 45px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .partners__description {
        margin-top: 30px; } }
  .partners__row_key {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .partners__row_key {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-left: 10%; } }
  .partners__row_steady {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
    @media only screen and (min-width: 401px) and (max-width: 768px) {
      .partners__row_steady {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .partners__row_steady {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .partners__partner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border-left: 1px solid #0f1539; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .partners__partner_key {
      margin-bottom: 30px;
      padding-top: 10px;
      padding-bottom: 10px; } }
  .partners__partner_steady {
    width: 16%;
    text-align: center; }
    @media only screen and (min-width: 401px) and (max-width: 992px) {
      .partners__partner_steady {
        width: 33%;
        padding: 0 8px; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .partners__partner_steady {
        width: 100%; } }
  .partners__logo {
    max-width: 100%;
    display: inline-block;
    height: auto;
    vertical-align: bottom; }
  .partners__logo_steady {
    padding-top: 60px;
    padding-bottom: 60px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .partners__logo_steady {
        padding-top: 40px;
        padding-bottom: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .partners__logo_steady {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .partners__img-wrap {
    line-height: 70px; }
  .partners__square {
    margin-top: 60px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .partners__square {
        margin-top: 40px;
        margin-bottom: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .partners__square {
        margin-top: 20px;
        margin-bottom: 20px; } }

.become {
  background-color: #0f1539;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .become {
      padding-top: 75px;
      padding-bottom: 75px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .become {
      padding-top: 40px;
      padding-bottom: 40px; } }
  .become__square {
    margin-top: 60px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .become__square {
        margin-top: 40px;
        margin-bottom: 40px; } }
