.personal {
  background-color: #0f1539;
  color: #fff;
  padding: 55px 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .personal {
      padding: 35px 0; } }
  .personal__info {
    font-size: 17px;
    text-align: right; }
  .personal__name {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 35%; }
  .personal__post {
    font-size: 15px; }
  .personal__description {
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__description {
        font-size: 14px;
        text-align: center; } }
  .personal__image-wrapper {
    border-left: 1px solid #fff; }
  .personal__table {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 90px;
    font-size: 19px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .personal__table {
        margin-top: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .personal__table {
        font-size: 14px; } }
    .personal__table td {
      padding: 8px 0;
      vertical-align: top;
      border-bottom: 1px solid #9d9d9d; }
  .personal__key {
    color: #9d9d9d;
    width: 40%; }
  .personal__value {
    color: #fff; }

.tabs {
  padding: 90px 0 0; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .tabs {
      padding: 75px 0 0; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .tabs {
      padding: 35px 0 0; } }
  .tabs__list {
    margin-top: 0;
    margin-bottom: 60px;
    padding: 0;
    border-bottom: 2px solid #9d9d9d; }
    .tabs__list:before {
      content: " ";
      display: table; }
    .tabs__list:after {
      clear: both;
      content: " ";
      display: table; }
  .tabs__list_stretch {
    display: table;
    width: 100%; }
  .tabs__list_vertical {
    border-bottom: none;
    border-right: 2px solid #9d9d9d;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: right; }
  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .tabs__list_horizontal-sm, .tabs__list_horizontal-xs {
      display: table;
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
      table-layout: fixed;
      text-align: center;
      border-right: none;
      border-bottom: 2px solid #9d9d9d;
      padding-bottom: 0;
      padding-top: 0;
      padding-left: 25px;
      padding-right: 25px;
      margin-bottom: 30px; } }
  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .tabs__list_horizontal-sm:after, .tabs__list_horizontal-sm:before, .tabs__list_horizontal-xs:after, .tabs__list_horizontal-xs:before {
      display: none; } }
  .tabs__item {
    float: left;
    list-style-type: none; }
  .tabs__item_stretch {
    display: table-cell;
    width: 20%;
    float: none;
    text-align: center; }
  .tabs__item.active > .link {
    color: #0f1539;
    border-bottom: 5px solid #0f1539;
    margin-bottom: -3px; }
  .tabs__item_vertical {
    max-width: 75%;
    float: right; }
  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .tabs__item_horizontal-sm, .tabs__item_horizontal-xs {
      display: table-cell;
      width: auto;
      max-width: none;
      float: none; } }
  .tabs__item_vertical.active > .link {
    color: #fff;
    background-color: #9d9d9d;
    margin-bottom: 0;
    border-bottom: none; }
  .tabs__link {
    display: inline-block;
    width: 100%;
    color: #9d9d9d;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 20px; }
    @media only screen and (min-width: 320px) and (max-width: 600px) {
      .tabs__link {
        font-size: 13px; } }
  .tabs__link_vertical {
    padding: 40px 30px;
    font-size: 18px;
    font-weight: bold; }
    @media only screen and (min-width: 400px) and (max-width: 768px) {
      .tabs__link_vertical {
        font-size: 16px;
        padding: 20px 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 399px) {
      .tabs__link_vertical {
        font-size: 14px;
        padding: 15px; } }
  .tabs__panel {
    display: none; }
  .tabs__panel.active {
    display: block; }
  .tabs__content {
    font-size: 18px;
    color: #9d9d9d; }

.equipment {
  background-color: #f0f0f0;
  text-align: right;
  padding: 80px 0; }
  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .equipment {
      text-align: center; } }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .equipment {
      padding: 40px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .equipment {
      padding: 20px 0; } }
  .equipment_bg-white {
    background-color: #fff; }
  .equipment__title {
    font-size: 60px;
    text-transform: uppercase; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .equipment__title {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .equipment__title {
        font-size: 20px; } }
  .equipment__description {
    font-size: 18px;
    color: #9d9d9d;
    margin-bottom: 30px; }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .equipment__description {
        font-size: 14px; } }
  .equipment__list {
    text-align: center; }
  .equipment__image {
    margin-bottom: 70px; }
  .equipment__square {
    margin: 70px 0; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .equipment__square {
        margin: 30px 0; } }

.speech {
  background-color: #f0f0f0;
  padding: 100px 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .speech {
      padding: 40px 0; } }
  .speech_bg-white {
    background-color: #fff; }
  .speech__square {
    margin-top: 60px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .speech__square {
        margin-top: 20px;
        margin-bottom: 20px; } }
  .speech__title {
    text-align: center;
    font-size: 60px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .speech__title {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .speech__title {
        font-size: 20px; } }
  .speech__description {
    text-align: center;
    font-size: 18px;
    color: #9d9d9d; }
  .speech__item {
    border-left: 1px solid #0f1539;
    font-size: 18px; }
  .speech__person {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold; }

.showroom {
  padding-top: 90px;
  padding-bottom: 200px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .showroom {
      padding: 60px 0; } }
  .showroom__title {
    text-align: center;
    font-size: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .showroom__title {
        font-size: 30px; } }
  .showroom__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    @media only screen and (min-width: 321px) and (max-width: 768px) {
      .showroom__list {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 320px) {
      .showroom__list {
        width: 100%; } }
    .showroom__list:before {
      content: " ";
      display: table; }
    .showroom__list:after {
      clear: both;
      content: " ";
      display: table; }
  .showroom__item {
    float: left;
    width: 25%;
    padding-right: 1px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__item {
        width: 50%;
        padding-bottom: 1px; } }
    .showroom__item:last-child {
      padding-right: 0; }
  .showroom__link {
    display: block;
    position: relative;
    height: 630px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #0f1539;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: #0f1539;
    z-index: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__link {
        height: 180px; } }
    .showroom__link:after {
      position: absolute;
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: #0f1539;
      opacity: 0;
      z-index: -1; }
    .showroom__link:hover:after {
      opacity: 0.35; }
    .showroom__link:active:after {
      opacity: 0.55; }
  .showroom__link_text-light {
    color: #fff; }
  .showroom__link_proposal:after {
    display: none; }
  .showroom__link_proposal:hover {
    background-color: rgba(15, 21, 57, 0.9); }
  .showroom__link_proposal:active {
    background-color: rgba(15, 21, 57, 0.7); }
  .showroom__proposal {
    position: absolute;
    bottom: 70px;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__proposal {
        font-size: 14px; } }
  .showroom__description {
    position: absolute;
    bottom: 70px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__description {
        font-size: 14px; } }
  .showroom__year {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__year {
        font-size: 14px; } }
  .showroom__controls {
    text-align: center;
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__controls {
        margin-top: 30px; } }
  .showroom__control {
    position: relative;
    width: 32px;
    color: #0f1539;
    border: 1px solid #0f1539;
    display: inline-block;
    padding: 5px 0; }
  .showroom__control-text {
    position: absolute;
    top: 5px;
    left: -130px;
    color: #9d9d9d; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .showroom__control-text {
        max-width: 80px;
        left: -80px;
        top: 0; } }

@media only screen and (min-width: 480px) and (max-width: 992px) {
  .card {
    text-align: left; } }

.card__list {
  margin-top: 70px; }

.card__title {
  font-size: 26px;
  color: #0f1539;
  text-transform: uppercase;
  margin: 15px 0; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .card__title {
      font-size: 16px; } }

.card__description {
  font-size: 18px;
  color: #0f1539; }

.card__image {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  margin-bottom: 30px; }
  @media only screen and (min-width: 480px) and (max-width: 992px) {
    .card__image {
      float: left;
      padding-right: 15px;
      padding-top: 8px; } }

.textcontent {
  padding: 95px 0;
  text-align: center; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .textcontent {
      padding: 60px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .textcontent {
      padding: 30px 0; } }
  .textcontent__title {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: #0f1539;
    margin-bottom: 45px; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .textcontent__title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .textcontent__title {
        font-size: 27px;
        margin-bottom: 25px; } }
  .textcontent__title_size-m {
    font-size: 45px;
    margin-top: 24px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      .textcontent__title_size-m {
        font-size: 30px;
        text-align: center;
        margin-top: 0; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .textcontent__title_size-m {
        font-size: 20px;
        margin-top: 0;
        text-align: center; } }
  .textcontent__description {
    color: #0f1539;
    font-size: 18px;
    line-height: 1.66;
    margin-top: 25px;
    letter-spacing: 0.04em; }
  .textcontent__button {
    margin-top: 60px; }
  .textcontent__square {
    margin-bottom: 10px; }

.scroller_portfolio {
  margin-top: 70px; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .scroller_portfolio {
      margin-top: 50px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller_portfolio {
      margin-top: 30px;
      background-color: rgba(0, 2, 59, 0.6); } }

.scroller_process {
  text-align: right;
  color: #fff; }

.scroller__item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff; }

.scroller__item_2011 {
  background-image: url("../img/about/photo_2011.jpg"); }

.scroller__item_2013 {
  background-image: url("../img/about/photo_2013.jpg"); }

.scroller__item_2015 {
  background-image: url("../img/about/photo_2015.jpg"); }

.scroller__item_2016 {
  background-image: url("../img/about/photo_2016.jpg"); }

.scroller__item_zsd {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__item_loko {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__item_eco {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__item_plaza {
  background-image: url("../img/portfolio/photo.jpg"); }

.scroller__grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .scroller__grid_portfolio {
    background-color: rgba(0, 2, 59, 0.6); } }

.scroller__column {
  position: relative; }

.scroller__column_portfolio {
  background-color: rgba(0, 2, 59, 0.6);
  border-left: 1px solid #fff;
  padding-top: 90px;
  padding-bottom: 90px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__column_portfolio {
      padding-top: 25px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__column_portfolio {
      background-color: transparent; } }

.scroller__column_right {
  padding-top: 340px;
  padding-bottom: 30px; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__column_right {
      padding-top: 60px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__column_right {
      padding-top: 10px; } }

.scroller__title {
  font-size: 30px;
  padding: 50px 0;
  letter-spacing: 3px;
  font-weight: bold; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__title {
      padding: 30px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__title {
      font-size: 23px; } }

.scroller__title_size-xl {
  font-size: 60px;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .scroller__title_size-xl {
      font-size: 40px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__title_size-xl {
      font-size: 25px; } }

.scroller__subtitle {
  font-size: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__subtitle {
      font-size: 18px; } }

.scroller__subtitle_size-xl {
  font-size: 25px; }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .scroller__subtitle_size-xl {
      font-size: 20px; } }

.scroller__description {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.04em;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.55;
  max-width: 400px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__description {
      font-size: 16px; } }

.scroller__button {
  margin-left: 50px;
  letter-spacing: 0.04em;
  display: inline-block !important;
  vertical-align: top !important; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__button {
      margin-left: 0; } }

.scroller__icons {
  display: block; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__icons {
      padding: 70px 0 50px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__icons {
      padding: 30px 0 0px; } }

.scroller__icons_process {
  margin-bottom: 20px; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .scroller__icon_process:last-of-type {
    margin-left: 40px; } }

.scroller__line {
  margin: 0;
  padding: 0; }

.scroller__line_about {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 340px;
  right: 45%;
  border-right: 1px solid #fff; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .scroller__line_about {
      padding-top: 60px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__line_about {
      padding-top: 10px;
      right: 5%; } }

.scroller__line_portfolio {
  margin-left: -15px;
  margin-bottom: 80px; }

.scroller__line_process {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 340px;
  border-left: 1px solid #FFF; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__line_process {
      padding-top: 240px; } }

.scroller__point {
  font-size: 19px;
  letter-spacing: 0.14em;
  list-style-type: none;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  padding: 20px 10px;
  margin-right: -3px; }
  .scroller__point:after {
    position: absolute;
    display: block;
    content: ' ';
    border-top: 2px solid #fff;
    width: 5px;
    bottom: 0; }
  .scroller__point:active {
    font-size: 25px; }
    .scroller__point:active:after {
      display: none; }

.scroller__point_portfolio {
  height: 70px;
  font-weight: normal;
  font-size: 18px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__point_portfolio {
      font-size: 18px; } }
  .scroller__point_portfolio:after {
    left: -3px; }
  .scroller__point_portfolio:hover {
    border-left: 3px solid #fff;
    margin-left: -2px;
    padding-left: 6px; }
  .scroller__point_portfolio:hover:after {
    left: -4px; }
  .scroller__point_portfolio:active {
    border-left: 5px solid #fff !important;
    padding-left: 5px !important;
    margin-left: -3px !important;
    font-weight: bold; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .scroller__point_portfolio:active {
        font-size: 20px; } }
    .scroller__point_portfolio:active:after {
      display: none; }

.scroller__point_about {
  text-align: right; }
  .scroller__point_about:after {
    right: 0px; }
  .scroller__point_about:hover {
    border-right: 3px solid #fff;
    margin-right: -2px; }
  .scroller__point_about:hover:after {
    right: -4px; }
  .scroller__point_about:active {
    border-right: 5px solid #fff !important;
    padding-right: 5px !important;
    margin-right: -3px !important; }

.scroller__point_process {
  text-align: left;
  display: block;
  width: 20%; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .scroller__point_process {
      padding: 15px; } }
  .scroller__point_process:after {
    left: -3px; }
  .scroller__point_process:hover {
    border-left: 3px solid #fff;
    margin-left: -2px;
    padding-left: 10px; }
  .scroller__point_process:hover:after {
    left: -4px; }
  .scroller__point_process:active {
    border-left: 5px solid #fff !important;
    padding-left: 10px !important;
    margin-left: -3px !important;
    font-weight: bold; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .scroller__point_process:active {
        font-size: 20px; } }
    .scroller__point_process:active:after {
      display: none; }

.scroller__point_active-about {
  font-size: 25px;
  border-right: 5px solid #fff !important;
  padding-right: 5px !important;
  margin-right: -3px !important; }
  .scroller__point_active-about:after {
    display: none; }

.scroller__point_active-portfolio {
  font-size: 25px;
  border-left: 5px solid #fff !important;
  padding-left: 5px !important;
  margin-left: -3px !important;
  font-weight: bold; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .scroller__point_active-portfolio {
      font-size: 20px; } }
  .scroller__point_active-portfolio:after {
    display: none; }

.scroller__square_process {
  margin-bottom: 15px; }
