.numbers {
  padding: 140px 0 140px; }
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .numbers {
      padding: 60px 0; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers {
      padding: 40px 0; } }
  .numbers__title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__title {
        font-size: 40px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__title {
        font-size: 20px; } }
  .numbers__feature-list {
    margin: 70px auto 0;
    text-align: left;
    border: 1px solid #0f1539;
    padding: 30px 0px 0px 130px;
    max-width: 90%; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__feature-list {
        padding: 30px 0px 0px 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature-list {
        display: block;
        max-width: 100%;
        border: none;
        margin: 0;
        padding: 20px; } }
  .numbers__feature {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 31%; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        padding: 20px 0;
        border-top: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__feature {
        display: block; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:first-child {
        border-top: none; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__feature:nth-of-type(3), .numbers__feature:nth-of-type(5) {
        margin-top: -1px; } }
  .numbers__num {
    font-size: 100px;
    font-weight: bold;
    line-height: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__num {
        font-size: 70px; } }
  .numbers__caption {
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    background-color: #fff;
    margin-bottom: -55px;
    letter-spacing: 0.05em;
    padding: 0 20px 0 10px;
    margin-left: -10px;
    text-transform: uppercase; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__caption {
        font-size: 18px;
        margin-bottom: 0;
        display: block; } }
  .numbers__description-list {
    max-width: 90%;
    margin: 60px auto 0;
    text-align: left; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description-list {
        display: none; } }
  .numbers__description {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 21%;
    font-size: 18px;
    line-height: 1.55;
    margin-left: 100px;
    color: #000;
    letter-spacing: 0.04em; }
    @media only screen and (min-width: 768px) and (max-width: 1279px) {
      .numbers__description {
        max-width: 25%; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description {
        display: inline-block;
        vertical-align: top;
        max-width: 69%;
        margin-left: 0px;
        margin-top: 30px;
        border-bottom: 1px solid #0f1539; } }
    @media only screen and (min-width: 320px) and (max-width: 400px) {
      .numbers__description {
        display: block;
        max-width: 100%; } }
    .numbers__description:first-child {
      margin-left: 130px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:first-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:first-child {
          margin-left: -3px; } }
    .numbers__description:nth-child(2) {
      margin-left: 60px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:nth-child(2) {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:nth-child(2) {
          margin-left: -3px; } }
    .numbers__description:last-child {
      margin-left: 70px; }
      @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .numbers__description:last-child {
          margin-left: 30px; } }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .numbers__description:last-child {
          border-bottom: none;
          margin-left: 0; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__description:nth-child(4) {
        margin-left: -3px; } }
  .numbers__button:focus, .numbers a.numbers__button:focus {
    color: #fff; }
  .numbers__button_first {
    margin-top: 95px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .numbers__button_first {
        margin: 25px 0 45px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .numbers__button_last {
      margin-bottom: 30px; } }

.showroom {
  padding-top: 90px;
  padding-bottom: 200px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .showroom {
      padding: 60px 0; } }
  .showroom__title {
    text-align: center;
    font-size: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .showroom__title {
        font-size: 30px; } }
  .showroom__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    @media only screen and (min-width: 321px) and (max-width: 768px) {
      .showroom__list {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 320px) {
      .showroom__list {
        width: 100%; } }
    .showroom__list:before {
      content: " ";
      display: table; }
    .showroom__list:after {
      clear: both;
      content: " ";
      display: table; }
  .showroom__item {
    float: left;
    width: 25%;
    padding-right: 1px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__item {
        width: 50%;
        padding-bottom: 1px; } }
    .showroom__item:last-child {
      padding-right: 0; }
  .showroom__link {
    display: block;
    position: relative;
    height: 630px;
    width: 100%;
    background-position: 50% 50%;
    background-color: #0f1539;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: #0f1539;
    z-index: 1; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__link {
        height: 180px; } }
    .showroom__link:after {
      position: absolute;
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: #0f1539;
      opacity: 0;
      z-index: -1; }
    .showroom__link:hover:after {
      opacity: 0.35; }
    .showroom__link:active:after {
      opacity: 0.55; }
  .showroom__link_text-light {
    color: #fff; }
  .showroom__link_proposal:after {
    display: none; }
  .showroom__link_proposal:hover {
    background-color: rgba(15, 21, 57, 0.9); }
  .showroom__link_proposal:active {
    background-color: rgba(15, 21, 57, 0.7); }
  .showroom__proposal {
    position: absolute;
    bottom: 70px;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__proposal {
        font-size: 14px; } }
  .showroom__description {
    position: absolute;
    bottom: 70px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__description {
        font-size: 14px; } }
  .showroom__year {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__year {
        font-size: 14px; } }
  .showroom__controls {
    text-align: center;
    font-size: 16px; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .showroom__controls {
        margin-top: 30px; } }
  .showroom__control {
    position: relative;
    width: 32px;
    color: #0f1539;
    border: 1px solid #0f1539;
    display: inline-block;
    padding: 5px 0; }
  .showroom__control-text {
    position: absolute;
    top: 5px;
    left: -130px;
    color: #9d9d9d; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .showroom__control-text {
        max-width: 80px;
        left: -80px;
        top: 0; } }

.banner {
  position: relative;
  margin-top: 90px;
  min-height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }
  .banner_contacts {
    min-height: initial;
    margin-top: 0; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .banner_contacts {
        min-height: 500px; } }
  .banner__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 2, 59, 0.6);
    color: #fff;
    text-align: right;
    padding: 45px 30px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .banner__text {
        padding: 10px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__text {
        width: 55%; } }
  .banner__text_contacts {
    width: 35%;
    padding: 100px 30px 25px;
    position: static; }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
      .banner__text_contacts {
        padding: 70px 30px 20px;
        width: 40%; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__text_contacts {
        width: 50%;
        padding: 50px 20px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__text_contacts {
        width: 100%;
        padding: 35px 20px 10px;
        text-align: center;
        max-height: 50%;
        position: absolute;
        overflow: hidden; } }
  .banner__title {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    margin: 0; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .banner__title {
        font-size: 18px; } }
    @media only screen and (min-width: 320px) and (max-width: 380px) {
      .banner__title {
        padding: 10px 0;
        font-size: 16px;
        line-height: 1; } }
  .banner__title_contacts {
    font-size: 40px;
    padding: 0;
    text-transform: uppercase; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__title_contacts {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__title_contacts {
        font-size: 20px; } }
  .banner__description {
    font-size: 18px;
    margin: 0;
    padding-bottom: 60px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__description {
        font-size: 16px;
        padding-bottom: 10px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .banner__description {
        font-size: 16px;
        padding-bottom: 5px; } }
  .banner__description_contacts {
    padding-bottom: 0; }
  .banner__square {
    margin-top: 100px;
    margin-bottom: 100px; }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
      .banner__square {
        margin-top: 60px;
        margin-bottom: 60px; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .banner__square {
        margin-top: 40px;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .banner__square {
        margin-top: 25px;
        margin-bottom: 25px; } }

.social {
  text-align: right; }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .social {
      text-align: left;
      margin-top: 70px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .social {
      text-align: center;
      margin-top: 70px; } }
  .social_contacts {
    text-align: center;
    font-weight: bold; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .social_contacts {
        margin-top: 40px; } }
  .social__header {
    font-size: 40px;
    margin: 0;
    letter-spacing: 0.1em;
    font-weight: normal;
    text-transform: uppercase; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .social__header {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .social__header {
        font-size: 20px; } }
  .social__description {
    font-size: 18px;
    margin-bottom: 40px; }
  .social__icon {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 20px;
    position: relative; }
    .social__icon:before {
      position: absolute;
      top: 8px;
      left: 8px; }
  .social__icon_contacts {
    border: 1px solid #0f1539;
    color: #0f1539;
    margin-left: 25px; }

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .form_subscribe {
    text-align: left; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .form_subscribe {
    text-align: center; } }

.form__header {
  font-size: 40px;
  margin: 0;
  letter-spacing: 0.1em;
  font-weight: normal;
  text-transform: uppercase; }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    .form__header {
      font-size: 30px; } }
  @media only screen and (min-width: 320px) and (max-width: 479px) {
    .form__header {
      font-size: 20px; } }

.form__header_feedback {
  padding-left: 15px; }

.form__description {
  font-size: 18px;
  margin-bottom: 40px; }

.form__description_feedback {
  margin-top: 80px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .form__description_feedback {
      margin-top: 40px;
      margin-bottom: 40px; } }

.form__input {
  margin-bottom: 30px; }

.form button.form__button {
  font-size: 16px;
  font-weight: bold;
  margin-top: 60px; }

input.input, textarea.textarea {
  font-size: 18px;
  border: none;
  border-bottom: 4px solid #fff;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: none; }
  input.input_wide, textarea.textarea_wide {
    width: 100%; }

.speech {
  background-color: #f0f0f0;
  padding: 100px 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .speech {
      padding: 40px 0; } }
  .speech_bg-white {
    background-color: #fff; }
  .speech__square {
    margin-top: 60px;
    margin-bottom: 60px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .speech__square {
        margin-top: 20px;
        margin-bottom: 20px; } }
  .speech__title {
    text-align: center;
    font-size: 60px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .speech__title {
        font-size: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .speech__title {
        font-size: 20px; } }
  .speech__description {
    text-align: center;
    font-size: 18px;
    color: #9d9d9d; }
  .speech__item {
    border-left: 1px solid #0f1539;
    font-size: 18px; }
  .speech__person {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold; }

.carousel {
  margin-top: 30px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .carousel {
      margin-bottom: 120px; } }
  .carousel__control {
    position: absolute;
    width: 32px;
    top: 50%;
    color: #0f1539;
    bottom: auto;
    text-shadow: initial;
    border: 1px solid #0f1539;
    display: inline-block;
    padding: 5px 0;
    text-align: center; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .carousel__control {
        top: 106%; } }
    .carousel__control:hover, .carousel__control:focus {
      color: #0f1539;
      background-color: #b7b8c3; }
    .carousel__control:active {
      color: #fff;
      background-color: #0f1539; }
  .carousel__control.left {
    left: -60px; }
    @media only screen and (min-width: 320px) and (max-width: 992px) {
      .carousel__control.left {
        left: calc(50% - 35px); } }
  .carousel__control.right {
    right: -60px;
    left: auto; }
    @media only screen and (min-width: 32px) and (max-width: 992px) {
      .carousel__control.right {
        right: calc(50% - 35px); } }
  .carousel__caption {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 15px 42px;
    width: 34%;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    z-index: 1; }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
      .carousel__caption {
        font-size: 28px;
        padding: 10px; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .carousel__caption {
        font-size: 18px;
        padding: 25px 12px;
        line-height: 1.4; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .carousel__caption {
        width: 40%;
        font-size: 14px;
        padding: 12px;
        line-height: 1.4; } }
    .carousel__caption:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 2, 59, 0.6);
      content: ' ';
      display: block;
      z-index: -1; }
  .carousel__description {
    font-size: 25px;
    font-weight: normal;
    display: block; }
    @media only screen and (min-width: 769px) and (max-width: 992px) {
      .carousel__description {
        font-size: 22px; } }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .carousel__description {
        font-size: 16px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .carousel__description {
        font-size: 12px; } }
  .carousel__mobile-text {
    color: #9d9d9d;
    position: absolute;
    top: 5px; }
    .carousel__mobile-text_prev {
      left: -120px; }
      @media only screen and (min-width: 320px) and (max-width: 370px) {
        .carousel__mobile-text_prev {
          left: -104px; } }
    .carousel__mobile-text_next {
      right: -120px; }
      @media only screen and (min-width: 320px) and (max-width: 370px) {
        .carousel__mobile-text_next {
          right: -97px; } }

.project {
  padding-bottom: 100px; }
  .project__title {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 30px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .project__title {
        margin-top: 50px; } }
  .project__subtitle {
    margin-bottom: 20px; }
  .project__description {
    color: #9d9d9d;
    font-size: 18px; }
  .project__row {
    border-bottom: 1px solid #9d9d9d; }
  .project__key {
    font-size: 20px;
    text-transform: uppercase;
    color: #9d9d9d;
    padding: 20px 15px; }
  .project__value {
    font-size: 20px;
    color: #000; }

.closeup {
  background-color: #f0f0f0;
  padding: 105px 0 115px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .closeup {
      padding-bottom: 60px; } }
  .closeup__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px; }
  .closeup__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    margin-bottom: -30px; }

.numbers {
  padding: 0 0 190px;
  background-color: #f0f0f0; }
  .numbers__title {
    text-transform: uppercase;
    padding-bottom: 80px; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .numbers__title {
        font-size: 40px;
        margin-bottom: 90px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .numbers__title {
        margin-bottom: 40px; } }
  .numbers__feature-list {
    margin: 0 auto;
    border: 1px solid #0f1539; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .numbers__feature-list {
        max-width: 90%; } }
  .numbers__feature {
    width: 24%; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .numbers__feature {
        float: left;
        width: 50%;
        text-align: center;
        border: none; } }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .numbers__feature:nth-of-type(1), .numbers__feature:nth-of-type(2) {
        margin-top: -130px; } }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .numbers__feature:nth-of-type(3), .numbers__feature:nth-of-type(4) {
        margin-bottom: -90px; } }
  .numbers__num {
    font-size: 80px; }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .numbers__num {
        font-size: 60px; } }
    .numbers__num > span {
      font-size: 50px; }
      @media only screen and (min-width: 320px) and (max-width: 479px) {
        .numbers__num > span {
          font-size: 40px; } }
  .numbers__caption {
    background-color: #f0f0f0;
    padding-left: 15px;
    margin-bottom: -90px;
    width: 60%;
    text-align: left; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .numbers__caption {
        padding-left: 40%;
        margin-bottom: 0px;
        width: 85%; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .numbers__caption {
        font-size: 14px;
        padding-left: 30%;
        width: 100%;
        margin-bottom: 0px; } }
  .numbers__caption_long {
    width: 100%; }

.slider {
  padding: 120px 0; }
  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .slider {
      padding: 50px 0 130px; } }
  .slider__title {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 90px; }
    @media only screen and (min-width: 480px) and (max-width: 992px) {
      .slider__title {
        font-size: 30px;
        margin-bottom: 30px; } }
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      .slider__title {
        font-size: 20px;
        margin-bottom: 30px; } }
  .slider__inner {
    position: relative;
    text-align: center; }
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      .slider__inner {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .slider__inner {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto; } }
  .slider__image {
    float: left;
    width: 25%;
    padding-right: 1px; }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
      .slider__image {
        width: 50%;
        padding-bottom: 1px; } }
    .slider__image:last-child {
      padding-right: 0px;
      padding-bottom: 0px; }
  .slider__button {
    position: absolute;
    top: 50%;
    left: 0;
    color: #0f1539;
    cursor: pointer;
    font-size: 20px; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .slider__button {
        top: 110%; } }
    .slider__button_prev {
      left: -20px; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .slider__button_prev {
          left: calc(50% - 20px); } }
    .slider__button_next {
      left: auto;
      right: -20px; }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .slider__button_next {
          right: calc(50% - 20px); } }

.additions {
  background-color: #0f1539;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 90px; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .additions {
      padding: 60px 0; } }
