@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xmyd5s');
  src:  url('../fonts/icomoon.eot?xmyd5s#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xmyd5s') format('truetype'),
    url('../fonts/icomoon.woff?xmyd5s') format('woff'),
    url('../fonts/icomoon.svg?xmyd5s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e903";
}

