$text-color: #0f1539
$gray-color: #b7b8c3
$light-gray-color: #f0f0f0
$brown-color: #c4b9ab
$menu-link-color: #9d9d9d
$docs-color: #0e1339
$docs-bg: #f0f0f0
$img-bg: rgba(0, 2, 59,0.6)
$disabled: #cccccc

$hamburgers-padding-x: 10px;
$hamburgers-padding-y: 10px;
$hamburger-types     : (elastic);