@import "_variables"
@import "media-queries"
@import "_numbers"
@import "_showroom"
@import "_banner"
@import "_social"
@import "_personal"
@import "_docs"
@import "_form"

.information
  padding-top: 65px
  padding-bottom: 90px
  @include screen(320px,767px)
    padding-top: 30px
    padding-bottom: 40px
  &__table
    table-layout: fixed
    width: 100%
    font-size: 20px
    @include screen(320px,479px)
      font-size: 14px
    td
      vertical-align: top
      border-bottom: 1px solid $menu-link-color
      padding: 20px 0
  &__key
    text-transform: uppercase
    width: 30%
    white-space: nowrap
    color: $menu-link-color
  &__value
    color: #000
    
.map
  padding-bottom: 100px

.feedback
  background-color: $text-color
  color: #fff
  padding: 85px 0
  border-bottom: 1px solid #fff
  @include screen(480px,768px)
    font-size: 40px
    padding: 35px 0 0
  @include screen(320px,479px)
    font-size: 35px
    padding: 35px 0 0px 
  &__title
    font-size: 60px
    text-transform: uppercase
    text-align: center
  &__square
    margin-top: 60px
    margin-bottom: 60px
  &__button
    @include screen(320px,768px)
      margin-left: auto
      margin-right: auto
      margin-bottom: 90px

.docs
  &__icon-wrap_border-left
    border-left: 1px solid #fff
    padding-left: 20px
    @include screen(320px,480px)
      padding-right: 0
  &__item
    &:nth-child(2)
      justify-content: flex-start
      @include screen(320px,480px)
        flex-direction: row