@import "media-queries"
@import "_variables"
@import "hamburgers"
@import "_icons"
@import "_textbutton"
@import "_bootstrap.min"
@import "_menu"

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic')

.page
  font-family: 'PT Sans Narrow', sans-serif
  color: $text-color
  overflow-x: hidden
  @include screen(320px,767px)
    padding-top: 78px // Height of header
  &_sticky
    padding-top: 240px // Height of header
  &__header
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    @include screen(320px,767px)
      padding: 30px 45px 20px
      position: fixed
      width: 100%
      background-color: #fff
      z-index: 5  
      top: 0
  &__header_sticky
    position: fixed
    width: 100%
    background-color: #fff
    z-index: 5
    top: 0
  &__header_about
    background-image: url('../img/about/bg_header.jpg')
  &__header_contacts
    background-image: url('../img/contacts/bg_header.jpg')
  &__header_projects
    background-image: url('../img/about/bg_header.jpg')
  &__header_clients
    background-image: url('../img/clients/bg_header.jpg')
  &__header_partners
    background-image: url('../img/partners/bg_header.jpg')
  &__header_process
    background-image: url('../img/process/bg_header.jpg')
  &__header_portfolio
    background-image: url('../img/clients/bg_header.jpg')
  &__footer
    border-top: 1px solid #fff
    background-color: $text-color
    color: #fff
    padding: 35px 0  
    a:hover,a:focus
      color: #fff
  &__title
    border-top: 2px solid #fff
    text-align: center
    font-size: 55px
    line-height: 1
    color: #fff
    margin: 0
    text-transform: uppercase
    padding: 40px 0
    letter-spacing: 0.16em
    font-weight: normal
    @include screen(768px,1279px)
      font-size: 40px
  

.logo
  &_header
    padding-top: 180px
    padding-bottom: 110px
    text-align: center
    @include screen(320px,767px)
      max-width: 140px
      float: right
      padding: 0
  &_header.fadeIn
    @include min-screen(768px)
      padding-top: 180px
      padding-bottom: 110px
  &_header.fadeOut
    @include min-screen(768px)
      padding: 0
  &_footer
    @include screen(320px,400px)
      float: right
      width: 30%
  &_inverted
    padding-top: 30px
    padding-right: 45px
    float: right
  &__image
    max-width: 100%
  &_title
    padding-right: 90px

.square
  display: inline-block
  width: 21px
  height: 21px
  background-color: $text-color
  &_white
    background-color: #fff
  &_gray
    background-color: $menu-link-color
  &_small
    width: 12px
    height: 12px
  &_centered
    display: block
    margin-left: auto
    margin-right: auto 
  &_additional,&_showroom
    margin-top: 60px
    margin-bottom: 60px
    @include screen(320px,767px)
      margin-top: 40px
      margin-bottom: 40px


.contacts
  text-align: right
  @include screen(320px,400px)
    text-align: left
    width: 100%
    margin-left: 0
  &__link
    display: block
    color: #fff
    margin: 10px 0
    @include screen(320px,400px)
      display: inline-block
      white-space: nowrap
      margin: 0 20px

.hamburger
  padding: 0px
  position: relative
  z-index: 5
  &:focus
    outline: none
  &-inner,&-inner:after,&-inner:before
    background-color: #fff
  &.is-active,&.is-active:focus
    position: fixed
    top: 30px
    left: 45px
    outline: none
    .hamburger-inner,.hamburger-inner:after,.hamburger-inner:before
      background-color: $text-color


a:hover,a:focus
  text-decoration: none
  outline: none

.disabled
  color: $disabled !important
  border: 1px solid $disabled !important
  cursor: not-allowed
  pointer-events: none

img
  max-width: 100%

._text-center
  text-align: center

.transitioned
  transition: all 0.4s ease

.fadeIn 
  height: auto
  opacity: 1

.fadeOut
  height: 0
  opacity: 0
  
