@import "_variables"
@import "media-queries"
@import "_personal"
@import "_form"

.partners
  padding-top: 100px
  padding-bottom: 75px
  margin-top: 20px
  @include screen(480px,768px)
    padding-top: 50px
    padding-bottom: 75px
    margin-top: 10px
  @include screen(320px,479px)
    padding-top: 35px
    padding-bottom: 35px
    margin-top: 0
  &_key
    background-color: $light-gray-color
  &__title
    font-size: 60px
    text-transform: uppercase
    text-align: center
    @include screen(480px,768px)
      font-size: 30px
    @include screen(320px,479px)
      font-size: 20px
  &__description
    margin-top: 60px
    margin-bottom: 30px
    font-size: 17px
    color: $menu-link-color
    flex: 1
    @include screen(480px,768px)
      margin-top: 45px
    @include screen(320px,479px)
      margin-top: 30px
  &__row
  &__row_key
    display: flex
    align-items: stretch
    @include screen(320px,768px)
      flex-direction: column
      margin-left: 10%
  &__row_steady
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    @include screen(401px,768px)
      flex-wrap: wrap
    @include screen(320px,400px)
      flex-direction: column
  &__partner
    display: flex
    flex-direction: column
    border-left: 1px solid $text-color
  &__partner_key
    @include screen(320px,768px)
      margin-bottom: 30px
      padding-top: 10px
      padding-bottom: 10px
  &__partner_steady
    width: 16%
    text-align: center
    @include screen(401px,992px)
      width: 33%
      padding: 0 8px
    @include screen(320px,400px)
      width: 100%
  &__logo
    max-width: 100%
    display: inline-block
    height: auto 
    vertical-align: bottom
  &__logo_steady
    padding-top: 60px
    padding-bottom: 60px
    @include screen(480px,768px)
      padding-top: 40px
      padding-bottom: 40px
    @include screen(320px,479px)
      padding-top: 20px
      padding-bottom: 20px
  &__img-wrap
    line-height: 70px // max height from list of logos, need for vertical align of logo to bottom 
  &__square
    margin-top: 60px
    margin-bottom: 60px
    @include screen(480px,768px)
      margin-top: 40px
      margin-bottom: 40px
    @include screen(320px,479px)
      margin-top: 20px
      margin-bottom: 20px

.become
  background-color: $text-color
  color: #fff
  padding-top: 100px
  padding-bottom: 100px
  @include screen(480px,768px)
    padding-top: 75px
    padding-bottom: 75px
  @include screen(320px,479px)
    padding-top: 40px
    padding-bottom: 40px
  &__square
    margin-top: 60px
    margin-bottom: 60px
    @include screen(320px,768px)
      margin-top: 40px
      margin-bottom: 40px
    