@import "_variables"
@import "media-queries"
@import "_numbers"
@import "_scroller"
@import "_tabs"
@import "_textcontent"
@import "_showroom"
@import "_equipment"

.projects
  padding-top: 75px
  &__title
    font-size: 60px
    text-transform: uppercase
    text-align: center
    margin-bottom: 60px
    @include screen(480px,768px)
      font-size: 30px
      margin-bottom: 40px
    @include screen(320px,479px)
      font-size: 20px
      margin-bottom: 20px

.showroom
  &_portfolio
    padding-top: 0
