@import "_variables"
@import "media-queries"
@import "_numbers"
@import "_showroom"
@import "_banner"
@import "_social"
@import "_form"
@import "_speech"

.carousel
  margin-top: 30px
  margin-bottom: 50px
  @include screen(320px,768px)
    margin-bottom: 120px
  &__control
    position: absolute
    width: 32px
    top: 50%
    color: $text-color
    bottom: auto
    text-shadow: initial
    border: 1px solid $text-color
    display: inline-block
    padding: 5px 0
    text-align: center
    @include screen(320px,768px)
      top: 106%
    &:hover, &:focus
      color: $text-color
      background-color: $gray-color 
    &:active
      color: #fff
      background-color: $text-color
  &__control.left
    left: -60px 
    @include screen(320px,992px)
      left: calc(50% - 35px)
  &__control.right
    right: -60px
    left: auto
    @include screen(32px,992px)
      right: calc(50% - 35px)
  &__caption
    position: absolute
    top: 0
    bottom: 0
    padding: 15px 42px
    width: 34%
    color: #fff
    font-weight: bold
    font-size: 35px
    line-height: 45px
    text-transform: uppercase
    z-index: 1
    @include screen(769px,992px)
      font-size: 28px
      padding: 10px 
    @include screen(480px,768px)
      font-size: 18px
      padding: 25px 12px
      line-height: 1.4
    @include screen(320px,479px)
      width: 40%
      font-size: 14px
      padding: 12px
      line-height: 1.4
    &:after
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: $img-bg
      content: ' '
      display: block
      z-index: -1
  &__description
    font-size: 25px
    font-weight: normal
    display: block
    @include screen(769px,992px)
      font-size: 22px
    @include screen(480px,768px)
      font-size: 16px
    @include screen(320px,479px)
      font-size: 12px
  &__mobile-text
    color: $menu-link-color
    position: absolute
    top: 5px
    &_prev
      left: -120px
      @include screen(320px,370px)
        left: -104px
    &_next
      right: -120px
      @include screen(320px,370px)
        right: -97px


.project
  padding-bottom: 100px
  &__title
    text-transform: uppercase
    font-size: 40px
    line-height: 45px
    margin-bottom: 30px
    @include screen(320px,768px)
      margin-top: 50px
  &__subtitle
    margin-bottom: 20px
  &__description
    color: $menu-link-color
    font-size: 18px
  &__table
  &__row
    border-bottom: 1px solid $menu-link-color
  &__key
    font-size: 20px
    text-transform: uppercase
    color: $menu-link-color
    padding: 20px 15px  
  &__value
    font-size: 20px
    color: #000


.closeup
  background-color: $docs-bg
  padding: 105px 0 115px
  @include screen(320px,768px)
    padding-bottom: 60px
  &__content
    margin-left: auto
    margin-right: auto
    max-width: 1100px 
  &__title
    text-transform: uppercase
    text-align: center
    font-size: 60px 
    margin-bottom: -30px

.numbers
  padding: 0 0 190px
  background-color: $docs-bg
  &__title
    text-transform: uppercase
    padding-bottom: 80px
    @include screen(480px,768px)
      font-size: 40px
      margin-bottom: 90px
    @include screen(320px,479px)
      margin-bottom: 40px
  &__feature-list
    margin: 0 auto 
    border: 1px solid $text-color
    @include screen(320px,768px)
      max-width: 90%
  &__feature
    width: 24%
    @include screen(320px,768px)
      float: left
      width: 50%
      text-align: center
      border: none
    &:nth-of-type(1),&:nth-of-type(2)
      @include screen(320px,768px)
        margin-top: -130px
    &:nth-of-type(3),&:nth-of-type(4)
      @include screen(320px,768px)
        margin-bottom: -90px
  &__num
    font-size: 80px
    @include screen(320px,479px)
      font-size: 60px
    &>span
      font-size: 50px
      @include screen(320px,479px)
        font-size: 40px
  &__caption
    background-color: $docs-bg
    padding-left: 15px
    margin-bottom: -90px
    width: 60%
    text-align: left
    @include screen(480px,768px)
      padding-left: 40%
      margin-bottom: 0px
      width: 85%
    @include screen(320px,479px)
      font-size: 14px
      padding-left: 30%
      width: 100%
      margin-bottom: 0px
  &__caption_long
    width: 100%


.slider
  padding: 120px 0
  @include screen(320px,992px)
    padding: 50px 0 130px
  &__title
    font-size: 60px
    text-transform: uppercase
    letter-spacing: 0.1em
    text-align: center
    margin-bottom: 90px
    @include screen(480px,992px)
      font-size: 30px
      margin-bottom: 30px
    @include screen(320px,479px)
      font-size: 20px
      margin-bottom: 30px
  &__inner
    position: relative
    text-align: center
    @include screen(480px,768px)
      max-width: 70%
      margin-left: auto
      margin-right: auto
    @include screen(320px,480px)
      max-width: 90%
      margin-left: auto
      margin-right: auto
  &__image
    float: left
    width: 25%
    padding-right: 1px
    @include screen(320px,768px)
      width: 50%
      padding-bottom: 1px
    &:last-child
      padding-right: 0px
      padding-bottom: 0px
  &__button
    position: absolute
    top: 50%
    left: 0
    color: $text-color
    cursor: pointer
    font-size: 20px
    @include screen(320px,480px)
      top: 110%
    &_prev
      left: -20px
      @include screen(320px,480px)
        left: calc(50% - 20px)
    &_next
      left: auto
      right: -20px
      @include screen(320px,480px)
        right: calc(50% - 20px)




.additions
  background-color: $text-color
  color: #fff
  padding-top: 110px
  padding-bottom: 90px
  @include screen(320px,768px)
    padding: 60px 0
  

