@import "_variables"
@import "media-queries"
@import "_numbers"
@import "_personal"
@import "_company"

a.more__button
  margin-top: 90px
  margin-bottom: 90px
  padding: 20px 0
  @include screen(480px,768px)
    margin-top: 50px
    margin-bottom: 50px
  @include screen(320px,479px)
    margin-top: 20px
    margin-bottom: 20px