@import "_variables"
@import "media-queries"

.banner
  position: relative
  margin-top: 90px 
  min-height: 500px
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover 
  &_contacts
    min-height: initial
    margin-top: 0
    @include screen(320px,480px)
      min-height: 500px
  &__text
    position: absolute
    top: 0
    left: 0
    width: 45%
    height: 100%
    background-color: $img-bg
    color: #fff
    text-align: right
    padding: 45px 30px
    @include screen(320px,768px)
      padding: 10px
    @include screen(320px,479px)
      width: 55%
  &__text_contacts
    width: 35%
    padding: 100px 30px 25px
    position: static
    @include screen(769px,992px)
      padding: 70px 30px 20px
      width: 40%
    @include screen(480px,768px)
      width: 50%
      padding: 50px 20px 
    @include screen(320px,479px)
      width: 100%
      padding: 35px 20px 10px
      text-align: center
      max-height: 50%
      position: absolute
      overflow: hidden
  &__title
    font-size: 25px
    font-weight: bold
    padding: 20px 0
    margin: 0
    @include screen(320px,768px)
      font-size: 18px
    @include screen(320px,380px)
      padding: 10px 0
      font-size: 16px
      line-height: 1
  &__title_contacts
    font-size: 40px
    padding: 0
    text-transform: uppercase
    @include screen(480px,768px)
      font-size: 30px
    @include screen(320px,479px)
      font-size: 20px
  &__description
    font-size: 18px
    margin: 0
    padding-bottom: 60px
    @include screen(480px,768px)
      font-size: 16px
      padding-bottom: 10px
    @include screen(320px,479px)
      font-size: 16px
      padding-bottom: 5px
  &__description_contacts
    padding-bottom: 0
  &__square
    margin-top: 100px
    margin-bottom: 100px
    @include screen(769px,992px)
      margin-top: 60px
      margin-bottom: 60px
    @include screen(480px,768px)
      margin-top: 40px
      margin-bottom: 30px 
    @include screen(320px,480px)
      margin-top: 25px
      margin-bottom: 25px
    