@import "media-queries"
@import "_variables"

.card
  @include screen(480px,992px)
    text-align: left
  &__list
    margin-top: 70px
  &__title
    font-size: 26px
    color: $text-color
    text-transform: uppercase
    margin: 15px 0
    @include screen(320px,480px)
      font-size: 16px
  &__description
    font-size: 18px
    color: $text-color
  &__image
    display: inline-block
    max-width: 100%
    vertical-align: middle
    margin-bottom: 30px
    @include screen(480px,992px)
      float: left
      padding-right: 15px
      padding-top: 8px