@import "media-queries"
@import "_variables"

.company
  padding: 120px 0
  color: $menu-link-color
  text-align: center
  position: relative
  border-bottom: 1px solid $menu-link-color
  @include screen(480px,768px)
    padding: 70px 0
  @include screen(320px,479px)
    padding: 40px 0
  &:after
    position: absolute
    content: ' '
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    background-size: cover
    background-repeat: no-repeat
    transition: opacity 0.5s ease-in-out
  &:hover:after
    opacity: 1
  &:hover
    color: #fff
    &:hover .company__button
      visibility: visible
      opacity: 1
  &__title
    text-transform: uppercase
    font-size: 35px
    font-weight: bold
    @include screen(480px,768px)
      font-size: 35px
    @include screen(320px,479px)
      font-size: 25px
  &__description
    font-size: 18px
    text-align: center
    margin-bottom: 25px
    @include screen(480px,768px)
      font-size: 16px
    @include screen(320px,479px)
      font-size: 14px
  &__person
    font-size: 20px
    font-weight: bold
    @include screen(480px,768px)
      font-size: 18px
    @include screen(320px,479px)
      font-size: 14px
  &__post
    font-weight: normal
  &__logos
    margin-top: 65px
  &__logo-wrap
    display: inline-block
    padding-left: 30px
  &__img-logo
    display: inline-block
    vertical-align: top
  &__text-logo
    display: block
    font-size: 25px
    text-transform: uppercase
    font-weight: bold
    line-height: 1
    @include screen(480px,768px)
      font-size: 18px
    @include screen(320px,479px)
      font-size: 14px
  &__year  
    font-size: 20px
    line-height: 1
    @include screen(480px,768px)
      font-size: 16px
    @include screen(320px,479px)
      font-size: 14px
  &__button
    display: inline-block
    visibility: hidden
    opacity: 0
    transition: opacity 0.7s ease
    background-image: url('../img/icon_eye.png')
    background-repeat: no-repeat
    background-position: 10% 50%
    background-color: rgba(15, 21, 57, 0.4)
    margin-top: 60px
    color: #fff
    border: 1px solid #fff
    font-size: 17px
    font-weight: bold
    padding-left: 80px
    padding-top: 15px
    padding-bottom: 15px
    padding-right: 25px
  &_eco:after
    background-image: url('../img/clients/bg_eco.jpg')
  &_eco:hover
    & .company__img-logo
        background-image: url("../img/logo_eco.png")
  &__img-logo_eco
    background-image: url("../img/logo_eco-gray.png")
    width: 153px
    height: 47px
  &_plaza:after
    background-image: url('../img/clients/bg_plaza.jpg')
  &_plaza:hover
    & .company__img-logo_plaza
        background-image: url("../img/logo_plaza-gray.png")
        background-color: #fff
  &__img-logo_plaza
    background-image: url("../img/logo_plaza.png")
    background-color: $menu-link-color
    background-repeat: no-repeat
    background-position: 50% 50%
    width: 214px
    height: 50px
  &_loko:after
    background-image: url('../img/clients/bg_loko.jpg')
  &_loko:hover
    & .company__img-logo_loko
        background-image: url("../img/logo_loko-black.png")
  &__img-logo_loko
    background-image: url("../img/logo_loko.png")
    background-repeat: no-repeat
    background-position: 50% 50%
    background-color: #fff
    width: 95px
    height: 95px
