@import "_variables"
@import "media-queries"

.docs
  padding-bottom: 100px
  background-color: $docs-bg
  @include screen(768px,1279px)
    padding-bottom: 80px
  @include screen(320px,767px)
    padding-bottom: 50px
  &_feedback
    background-color: transparent
    @include screen(480px,768px)
        font-size: 30px
    @include screen(320px,479px)
        font-size: 14px
  &__item
    margin-bottom: 60px
    display: flex
    justify-content: flex-start
    &:nth-child(2)
      justify-content: flex-end
      @include screen(320px,480px)
        flex-direction: row-reverse
  &__title
    font-size: 60px
    text-align: center
    text-transform: uppercase
    letter-spacing: 0.1em
    padding: 120px 0
    @include screen(768px,1279px)
      font-size: 40px
      padding: 60px 0
    @include screen(320px,767px)
      font-size: 20px
      padding: 30px
  &__title_feedback
    font-size: 40px
    padding: 0 0 75px
    text-align: right
    @include screen(480px,768px)
      font-size: 30px
      padding-bottom: 40px
    @include screen(320px,480px)
      font-size: 20px
      padding-bottom: 20px
  &__description
    color: $text-color
  &__description_feedback
    color: $menu-link-color
    font-size: 16px
  &__description-wrap
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 0.08em
    margin: 0
    position: relative
    z-index: 3
    flex: 1
    display: flex
    align-items: center
    transform: perspective(1px) translateZ(0)
    box-shadow: 0 0 1px transparent
    transition-property: color
    transition-duration: 0.3s 
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-font-smoothing: antialiased
    @include screen(320px,767px)
      font-size: 14px
    &:after
      z-index: -1
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      background-color: $docs-color
      content: ' '
      display: block
      opacity: 0.3
      transform: scaleX(0)
      transform-origin: 0 50%
      transition-property: transform, opacity
      transition-duration: 0.3s
      transition-timing-function: ease-out
    &:focus
      outline: none
    &:hover:after
      transform: scaleX(1)
      opacity: 0.3
    &:focus:after,&:active:after
      opacity: 0.5
      z-index: -1
      transform: scaleX(1)
  &__description_text-left
    text-align: left
    padding-left: 25px
    justify-content: flex-start
  &__description_text-right
    text-align: right
    padding-right: 25px
    justify-content: flex-end
    @include screen(320px,480px)
      text-align: left
      justify-content: flex-start
      padding-left: 25px
    &:after
      transform-origin: 100% 50%
  &__item_right
    text-align: right
  &__icon-wrap
    @include screen(320px,480px)
      max-width: 90px
  &__icon
    max-width: 100%
  &__icon-wrap_border-right
    padding-right: 20px
    border-right: 1px solid $text-color
  &__icon-wrap_border-left
    padding-left: 20px
    border-left: 1px solid $text-color
    @include screen(320px,480px)
        border-left: none
        padding-left: 0
        padding-right: 20px
        border-right: 1px solid $text-color
  &__icon_order-end
    order: 2
