@import "_variables"
@import "media-queries"
    
.equipment
  background-color: $light-gray-color
  text-align: right
  padding: 80px 0
  @include screen(320px,992px)
    text-align: center
  @include screen(480px,768px)
    padding: 40px 0
  @include screen(320px,479px)
    padding: 20px 0
  &_bg-white
    background-color: #fff
  &__title
    font-size: 60px
    text-transform: uppercase
    @include screen(480px,768px)
      font-size: 30px
    @include screen(320px,479px)
      font-size: 20px
  &__description
    font-size: 18px
    color: $menu-link-color
    margin-bottom: 30px
    @include screen(320px,479px)
      font-size: 14px
  &__list
    text-align: center
  &__image
    margin-bottom: 70px
  &__square
    margin: 70px 0
    @include screen(320px,768px)
      margin: 30px 0