@import "_variables"
@import "media-queries"

.form
  &_subscribe
    @include screen(768px,992px)
      text-align: left
    @include screen(320px,767px)
      text-align: center
  &__header
    font-size: 40px
    margin: 0
    letter-spacing: 0.1em
    font-weight: normal
    text-transform: uppercase
    @include screen(480px,768px)
      font-size: 30px
    @include screen(320px,479px)
      font-size: 20px
  &__header_feedback
    padding-left: 15px
  &__description
    font-size: 18px
    margin-bottom: 40px
  &__description_feedback
    margin-top: 80px
    margin-bottom: 50px
    @include screen(320px,768px)
      margin-top: 40px
      margin-bottom: 40px
  &__input
    margin-bottom: 30px
  button.form__button
    font-size: 16px
    font-weight: bold
    margin-top: 60px

input.input,textarea.textarea
  font-size: 18px
  border: none
  border-bottom: 4px solid #fff
  letter-spacing: 0.04em
  background-color: transparent
  outline: none
  &_wide
    width: 100%