.menu
  //Modifiers
  &_main
    margin-top: 3px
    border-top: 3px solid $brown-color
    text-transform: uppercase
    letter-spacing: 0.1em
    background-color: #fff
    @include screen(320px,767px)
      visibility: hidden
      opacity: 0
      transition: visibility 0s, opacity 0.5s linear
      position: fixed
      background-color: #fff
      border-top: none
      margin-top: 0
      z-index: 4
      top: 0
      left: 0
      width: 100%
  &_main-active
    @include screen(320px,767px)
      visibility: visible
      opacity: 1
  >.container
    @include screen(320px,767px)
      padding: 0
  &_footer
    text-align: right
    @include screen(320px,400px)
      text-align: left
      width: 100%
  &_sticky
    position: fixed
    width: 100%
    background-color: #fff
    z-index: 5
    top: 134px // height of header
  
  //Lists
  &__list_main
    margin: -3px 0 0
    padding: 0
    text-align: right
    @include screen(768px,1279px)
      text-align: center
    @include screen(320px,767px)
      text-align: center
      margin-top: 78px
      border-top: 1px solid $text-color
  &__list_dropdown
    display: none
    padding: 0
    margin: 0
    text-align: center
    background-color: #fff
    @include screen(320px,767px)
      display: none
      position: absolute
      width: 100%
      height: auto
      top: 0
      left: 0
  &__list_footer
    margin: 10px 0 0
    padding: 0
  
  //Links
  &__link_main
    color: $menu-link-color
    &:hover
      color: $menu-link-color
      font-weight: bold
  &__link_dropdown
    display: inline-block
    
  &__link_footer
    color: #fff
  
  //Items
  &__item
    list-style-type: none
  &__item:hover
    font-weight: bold
  &__item_main
    display: inline-block
    padding: 25px 8px 20px
    text-align: center
    margin-right: 20px
    min-width: 130px // for prevent moving on hover bold
    @include screen(320px,767px)
      display: block
      margin-right: 0
      min-width: initial 
      padding: 12px 8px 
    &:last-child
      margin-right: 0
    &:hover
      border-top: 3px solid $text-color
  &__item_main-active,
  &__item_main:active
    position: relative
    @include min-screen(768px)
      border-top: 3px solid $text-color
    &:before
      @include min-screen(768px)
        content: ' '
        display: block
        position: absolute
        top: 0
        left: calc(50% - 5px)
        border: 10px solid transparent
        border-top: 10px solid $text-color
    >a
      color: $text-color
      font-weight: bold
  &__item_container
    position: relative
    &:hover
      >.menu__list_dropdown
        @include min-screen(768px)
          position: absolute
          z-index: 10
          top: 100%
          left: 0px
          display: block
  &__item_dropdown
    display: inline-block
    padding: 10px 20px 10px
    border-top: 3px solid transparent
    @include screen(320px,767px)
      display: block
    &:hover
      border-top: 3px solid $brown-color
    &:focus
      color: $text-color
      text-decoration: none
      border: 2px solid $text-color
  &__item_footer
    @include screen(320px,767px)
      display: inline-block
      padding-right: 5px
  
  //Buttons
  &__button
    display: none
    @include screen(320px,767px)
      display: inline-block
    vertical-align: middle
    cursor: pointer
    width: 11px
    height: 20px
    background-repeat: no-repeat
    background-position: center center
  &__button_next
    background-image: url('../img/icon_arrow-next.png')
    margin-right: -40px
    padding-left: 40px
  &__button_prev
    background-image: url('../img/icon_arrow-prev.png')
    margin-right: 10px
    margin-left: -20px

  

  
