@import "_variables"
@import "media-queries"

.numbers
  padding: 140px 0 140px
  @include screen(768px,1279px)
    padding: 60px 0
  @include screen(320px,767px)
    padding: 40px 0
  &__title
    text-align: center
    font-size: 60px
    text-transform: uppercase
    letter-spacing: 0.1em
    @include screen(768px,1279px)
      font-size: 40px
    @include screen(320px,767px)
      font-size: 20px
  &__feature-list
    margin: 70px auto 0
    text-align: left
    border: 1px solid $text-color
    padding: 30px 0px 0px 130px
    max-width: 90%
    @include screen(768px,1279px)
      padding: 30px 0px 0px 30px
    @include screen(320px,767px)
      display: block
      max-width: 100%
      border: none
      margin: 0
      padding: 20px
  &__feature
    list-style-type: none
    display: inline-block
    vertical-align: top
    width: 31%  
    @include screen(320px,767px)
      display: inline-block
      vertical-align: top
      width: 30%
      padding: 20px 0
      border-top: 1px solid $text-color
    @include screen(320px,400px)
      display: block
    &:first-child
      @include screen(320px,767px)
        border-top: none
    &:nth-of-type(3),&:nth-of-type(5)
      @include screen(320px,767px)
        margin-top: -1px
  &__num
    font-size: 100px
    font-weight: bold
    line-height: 1
    @include screen(320px,767px)
      font-size: 70px
  &__caption
    display: inline-block
    vertical-align: top
    font-size: 26px
    background-color: #fff
    margin-bottom: -55px
    letter-spacing: 0.05em
    padding: 0 20px 0 10px
    margin-left: -10px
    text-transform: uppercase
    @include screen(320px,767px)
      font-size: 18px
      margin-bottom: 0
      display: block
  &__description-list
    max-width: 90%
    margin: 60px auto 0
    text-align: left
    @include screen(320px,767px)
      display: none
  &__description
    display: inline-block
    vertical-align: top
    text-align: left
    max-width: 21%
    font-size: 18px
    line-height: 1.55
    margin-left: 100px
    color: #000
    letter-spacing: 0.04em
    @include screen(768px,1279px)
      max-width: 25%
    @include screen(320px,767px)
      display: inline-block
      vertical-align: top
      max-width: 69%
      margin-left: 0px
      margin-top: 30px
      border-bottom: 1px solid $text-color
    @include screen(320px,400px)
      display: block  
      max-width: 100%  
    &:first-child
      margin-left: 130px
      @include screen(768px,1279px)
        margin-left: 30px
      @include screen(320px,767px)
        margin-left: -3px
    &:nth-child(2)
      margin-left: 60px
      @include screen(768px,1279px)
        margin-left: 30px
      @include screen(320px,767px)
        margin-left: -3px
    &:last-child
      margin-left: 70px
      @include screen(768px,1279px)
        margin-left: 30px
      @include screen(320px,767px)
        border-bottom: none
        margin-left: 0
    &:nth-child(4)
      @include screen(320px,767px)
        margin-left: -3px
  &__button,a.numbers__button
    //display: block
    //margin-top: 70px
  &__button:focus,a.numbers__button:focus
    color: #fff
  &__button_first
    margin-top: 95px
    @include screen(320px,767px)
      margin: 25px 0 45px
  &__button_last
    @include screen(320px,767px)
      margin-bottom: 30px