@import "_variables"
@import "media-queries"

.personal
  background-color: $text-color
  color: #fff
  padding: 55px 0
  @include screen(320px,768px)
    padding: 35px 0  
  &__info
    font-size: 17px
    text-align: right
  &__name
    font-size: 17px
    font-weight: bold
    text-transform: uppercase
    padding-top: 35%
  &__post
    font-size: 15px
  &__description
    font-size: 16px
    @include screen(320px,768px)
      font-size: 14px
      text-align: center
  &__image-wrapper
    border-left: 1px solid #fff
  &__table
    width: 100%
    table-layout: fixed
    margin-bottom: 90px
    font-size: 19px
    @include screen(320px,768px)
      margin-top: 40px
    @include screen(320px,479px)
      font-size: 14px
    td
      padding: 8px 0
      vertical-align: top
      border-bottom: 1px solid $menu-link-color
  &__key
    color: $menu-link-color
    width: 40%
  &__value
    color: #fff