@import "media-queries"
@import "_variables"

.scroller
  &_about
  &_portfolio
    margin-top: 70px
    @include screen(480px,768px)
      margin-top:  50px
    @include screen(320px,479px)
      margin-top:  30px
      background-color: $img-bg
  &_process
    text-align: right
    color: #fff
  &__item
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    color: #fff
  &__item_2011
    background-image: url('../img/about/photo_2011.jpg')
  &__item_2013
    background-image: url('../img/about/photo_2013.jpg')
  &__item_2015
    background-image: url('../img/about/photo_2015.jpg')
  &__item_2016
    background-image: url('../img/about/photo_2016.jpg')
  &__item_zsd
    background-image: url('../img/portfolio/photo.jpg')
  &__item_loko
    background-image: url('../img/portfolio/photo.jpg')
  &__item_eco
    background-image: url('../img/portfolio/photo.jpg')
  &__item_plaza
    background-image: url('../img/portfolio/photo.jpg')
  &__grid
    display: flex
    justify-content: center
    align-items: stretch
    flex-direction: row
  &__grid_portfolio
    @include screen(320px,479px)
      background-color: $img-bg
  &__column
    position: relative
  &__column_portfolio
    background-color: $img-bg
    border-left: 1px solid #fff
    padding-top: 90px
    padding-bottom: 90px 
    @include screen(320px,767px)
      padding-top: 25px
    @include screen(320px,479px)
      background-color: transparent
  &__column_right
    padding-top: 340px
    padding-bottom: 30px
    @include screen(768px,1279px)
      padding-top: 60px
    @include screen(320px,767px)
      padding-top: 10px
  &__title
    font-size: 30px
    padding: 50px 0
    letter-spacing: 3px
    font-weight: bold
    @include screen(768px,1279px)
      padding: 30px 0
    @include screen(320px,767px)
      font-size: 23px
  &__title_size-xl
    font-size: 60px
    text-transform: uppercase
    @include screen(480px,768px)
      font-size: 40px
    @include screen(320px,479px)
      font-size: 25px
  &__subtitle
    font-size: 20px
    @include screen(320px,479px)
      font-size: 18px
  &__subtitle_size-xl
    font-size: 25px
    @include screen(320px,479px)
      font-size: 20px
  &__description
    display: inline-block
    vertical-align: top
    letter-spacing: 0.04em
    margin-top: 0
    margin-bottom: 20px
    font-size: 18px
    line-height: 1.55
    max-width: 400px
    @include screen(320px,767px)
      font-size: 16px
  &__button
    margin-left: 50px
    letter-spacing: 0.04em
    display: inline-block !important
    vertical-align: top !important
    @include screen(320px,767px)
      margin-left: 0
  &__icons
    display: block
    @include screen(768px,1279px)
      padding: 70px 0 50px
    @include screen(320px,767px)
      padding: 30px 0 0px
  &__icons_process
    margin-bottom: 20px
  &__icon_process
    &:last-of-type
      @include screen(320px,767px)
        margin-left: 40px
  &__line
    margin: 0
    padding: 0
  &__line_about
    position: absolute
    width: 100%
    height: 100%
    padding-top: 340px
    right: 45%
    border-right: 1px solid #fff
    @include screen(768px,1279px)
      padding-top: 60px
    @include screen(320px,767px)
      padding-top: 10px
      right: 5%
  &__line_portfolio
    margin-left: -15px
    margin-bottom: 80px
  &__line_process
    position: absolute
    width: 100%
    height: 100%
    padding-top: 340px
    border-left: 1px solid #FFF
    @include screen(320px,767px)
      padding-top: 240px
  &__point
    font-size: 19px
    letter-spacing: 0.14em
    list-style-type: none
    font-weight: bold
    position: relative
    cursor: pointer
    padding: 20px 10px
    margin-right: -3px
    &:after
      position: absolute
      display: block
      content: ' '
      border-top: 2px solid #fff
      width: 5px
      bottom: 0
    &:active
      font-size: 25px
      &:after
        display: none
  &__point_portfolio
    height: 70px // Because we use big font for :active state
    font-weight: normal
    font-size: 18px
    @include screen(320px,767px)
      font-size: 18px
    &:after
      left: -3px
    &:hover
      border-left: 3px solid #fff
      margin-left: -2px
      padding-left: 6px
    &:hover:after
      left: -4px
    &:active
      border-left: 5px solid #fff !important 
      padding-left: 5px !important
      margin-left: -3px !important
      font-weight: bold
      @include screen(320px,767px)
        font-size: 20px
      &:after
        display: none
  &__point_about
    text-align: right
    &:after
      right: 0px
    &:hover
      border-right: 3px solid #fff
      //padding-right: 3px
      margin-right: -2px
    &:hover:after
      right: -4px
    &:active
      border-right: 5px solid #fff !important 
      padding-right: 5px !important
      margin-right: -3px !important
  &__point_process
    text-align: left
    display: block
    width: 20%
    @include screen(320px,768px)
      padding: 15px
    &:after
      left: -3px
    &:hover
      border-left: 3px solid #fff
      margin-left: -2px
      padding-left: 10px
    &:hover:after
      left: -4px
    &:active
      border-left: 5px solid #fff !important 
      padding-left: 10px !important
      margin-left: -3px !important
      font-weight: bold
      @include screen(320px,767px)
        font-size: 20px
      &:after
        display: none
  &__point_active-about
    font-size: 25px
    border-right: 5px solid #fff !important 
    padding-right: 5px !important
    margin-right: -3px !important
    &:after
      display: none
  &__point_active-portfolio
    font-size: 25px
    border-left: 5px solid #fff !important 
    padding-left: 5px !important
    margin-left: -3px !important
    font-weight: bold
    @include screen(320px,767px)
      font-size: 20px
    &:after
      display: none
  &__square_process
    margin-bottom: 15px