.showroom
  padding-top: 90px
  padding-bottom: 200px
  @include screen(320px,768px)
    padding: 60px 0
  &__title
    text-align: center
    font-size: 60px
    @include screen(320px,768px)
      font-size: 30px
  &__list
    margin: 0
    padding: 0
    list-style-type: none
    @include screen(321px,768px)
      max-width: 70%
      margin-left: auto
      margin-right: auto
    @include max-screen(320px)
      width: 100%
    &:before
      content: " "
      display: table
    &:after
      clear: both
      content: " "
      display: table
  &__item
    float: left
    width: 25%
    padding-right: 1px
    @include screen(320px,767px)
      width: 50%
      padding-bottom: 1px
    &:last-child
      padding-right: 0
  &__link
    display: block
    position: relative
    height: 630px
    width: 100%
    background-position: 50% 50%
    background-color: $text-color
    background-repeat: no-repeat
    background-size: cover
    font-size: 20px
    color: $text-color
    z-index: 1
    @include screen(320px,767px)
      height: 180px
    &:after
      position: absolute
      content: ' '
      display: block
      width: 100%
      height: 100%
      top: 0px
      left: 0px
      background-color: $text-color
      opacity: 0
      z-index: -1
    &:hover:after
      opacity: 0.35
    &:active:after
      opacity: 0.55
  &__link_text-light
    color: #fff
  &__link_proposal
    &:after
      display: none
    &:hover
      background-color: rgba(15, 21, 57, 0.9) 
    &:active
      background-color: rgba(15, 21, 57, 0.7)
  &__proposal
    position: absolute
    bottom: 70px
    font-size: 50px
    text-align: center
    width: 100%
    margin: 0
    @include screen(320px,767px)
      font-size: 14px
  &__description
    position: absolute
    bottom: 70px
    font-size: 20px
    text-align: center
    width: 100%
    margin: 0
    @include screen(320px,767px)
      font-size: 14px
  &__year
    font-size: 20px
    font-weight: bold
    text-align: center
    width: 100%
    position: absolute
    bottom: 20px
    margin: 0
    @include screen(320px,767px)
      font-size: 14px
  &__controls
    text-align: center
    font-size: 16px
    @include screen(320px,767px)
      margin-top: 30px
  &__control
    position: relative
    width: 32px
    color: $text-color
    border: 1px solid $text-color
    display: inline-block
    padding: 5px 0
  &__control-text
    position: absolute
    top: 5px
    left: -130px
    color: $menu-link-color
    @include screen(320px,480px)
      max-width: 80px
      left: -80px
      top: 0