@import "media-queries"
@import "_variables"

.social
  text-align: right
  @include screen(768px,992px)
    text-align: left
    margin-top: 70px
  @include screen(320px,767px)
    text-align: center
    margin-top: 70px
  &_contacts
    text-align: center
    font-weight: bold
    @include screen(320px,767px)
      margin-top: 40px
  &__header
    font-size: 40px
    margin: 0
    letter-spacing: 0.1em
    font-weight: normal
    text-transform: uppercase
    @include screen(480px,768px)
      font-size: 30px
    @include screen(320px,479px)
      font-size: 20px
  &__description
    font-size: 18px
    margin-bottom: 40px
  &__icon
    display: inline-block
    vertical-align: middle
    text-align: center
    border: 1px solid #fff
    color: #fff
    width: 36px
    height: 36px
    font-size: 20px
    position: relative
    &:before
      position: absolute
      top: 8px
      left: 8px
  &__icon_contacts
    border: 1px solid $text-color
    color: $text-color
    margin-left: 25px