@import "_variables"
@import "media-queries"

.speech
  background-color: $docs-bg
  padding: 100px 0 
  @include screen(320px,768px)
    padding: 40px 0
  &_bg-white
    background-color: #fff
  &__square
    margin-top: 60px
    margin-bottom: 60px
    @include screen(320px,768px)
      margin-top: 20px
      margin-bottom: 20px 
  &__title
    text-align: center
    font-size: 60px
    @include screen(480px,768px)
      font-size: 30px
    @include screen(320px,479px)
      font-size: 20px
  &__description
    text-align: center
    font-size: 18px
    color: $menu-link-color
  &__item
    border-left: 1px solid $text-color
    font-size: 18px
  &__person
    margin-top: 25px
    margin-bottom: 15px
    font-weight: bold
  &__staff