@import "media-queries"
@import "_variables"

.tabs
  padding: 90px 0 0
  @include screen(480px,768px)
    padding: 75px 0 0 
  @include screen(320px,479px)
    padding: 35px 0 0 
  &__list
    margin-top: 0 
    margin-bottom: 60px
    padding: 0
    border-bottom: 2px solid $menu-link-color
    &:before
      content: " "
      display: table
    &:after
      clear: both
      content: " "
      display: table
  &__list_stretch
    display: table
    width: 100%
  &__list_vertical
    border-bottom: none
    border-right: 2px solid $menu-link-color
    padding-top: 25px
    padding-bottom: 25px
    text-align: right
  &__list_horizontal-sm,
  &__list_horizontal-xs
    @include screen(320px,992px)
      display: table
      max-width: 75%
      margin-left: auto
      margin-right: auto
      table-layout: fixed
      text-align: center
      border-right: none
      border-bottom: 2px solid $menu-link-color
      padding-bottom: 0
      padding-top: 0
      padding-left: 25px
      padding-right: 25px
      margin-bottom: 30px
    &:after,&:before
      @include screen(320px,992px)
        display: none
  &__item
    float: left
    list-style-type: none
  &__item_stretch
    display: table-cell
    width: 20%
    float: none
    text-align: center
  &__item.active>.link
    color: $text-color
    border-bottom: 5px solid $text-color
    margin-bottom: -3px
  &__item_vertical
    max-width: 75%
    float: right
  &__item_horizontal-sm,
  &__item_horizontal-xs
    @include screen(320px,992px)
      display: table-cell
      width: auto
      max-width: none
      float: none
  &__item_vertical.active>.link
    color: #fff
    background-color: $menu-link-color
    margin-bottom: 0
    border-bottom: none
  &__link
    display: inline-block
    width: 100%
    color: $menu-link-color
    text-transform: uppercase
    font-size: 16px
    padding-bottom: 20px
    @include screen(320px,600px)
      font-size: 13px
  &__link_vertical
    padding: 40px 30px
    font-size: 18px
    font-weight: bold
    @include screen(400px,768px)
      font-size: 16px
      padding: 20px 30px
    @include screen(320px,399px)
      font-size: 14px
      padding: 15px
  &__panel
    display: none
  &__panel.active
    display: block
  &__content
    font-size: 18px
    color: $menu-link-color