@import "media-queries"
@import "_variables"

.textcontent
  padding: 95px 0
  text-align: center
  @include screen(768px,1279px)
    padding: 60px 0
  @include screen(320px,767px)
    padding: 30px 0
  &__title
    font-size: 60px
    text-transform: uppercase
    letter-spacing: 0.1em
    font-weight: bold
    color: $text-color
    margin-bottom: 45px
    @include screen(768px,1279px)
      font-size: 40px
    @include screen(320px,767px)
      font-size: 27px
      margin-bottom: 25px
  &__title_size-m
    font-size: 45px
    margin-top: 24px
    margin-bottom: 30px
    @include screen(480px,767px)
      font-size: 30px
      text-align: center
      margin-top: 0
    @include screen(320px,479px)
      font-size: 20px
      margin-top: 0
      text-align: center
  &__description
    color: $text-color
    font-size: 18px
    line-height: 1.66
    margin-top: 25px
    letter-spacing: 0.04em
  &__button
    margin-top: 60px
  &__square
    margin-bottom: 10px