@import "media-queries"
@import "_variables"

.textbutton,
a.textbutton,
button.textbutton
  display: flex
  align-items: center
  justify-content: center
  text-transform: uppercase
  border: 1px solid $text-color
  font-weight: bold
  color: #000
  text-align: center
  cursor: pointer
  position: relative
  z-index: 3
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px transparent
  transition-property: color
  transition-duration: 0.3s 
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-font-smoothing: antialiased
  background-color: transparent
  &:after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    background-color: $text-color
    content: ' '
    display: block
    opacity: 0
    transform: scaleX(0)
    transform-origin: 0 50%
    transition-property: transform, opacity
    transition-duration: 0.3s
    transition-timing-function: ease-out
  &:hover:after
    transform: scaleX(1)
    opacity: 0.3
  &:focus,&:active
    color: #fff
  &:focus:after,&:active:after
    opacity: 0.7
    z-index: -1
    transform: scaleX(1)
  
  //Modifiears
  &_inverted
    color: #fff
    border: 1px solid #fff
  &_inverted:focus,&_inverted:active
    color: $text-color
  &_inverted:after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2
    background-color: #fff
    content: ' '
    display: block
    opacity: 0
    transform: scaleX(0)
    transform-origin: 0 50%
    transition-property: transform, opacity
    transition-duration: 0.3s
    transition-timing-function: ease-out
  &_inverted:hover:after
    opacity: 0.3
    transform: scaleX(1)
  &_inverted:focus:after,
  &_inverted:active:after
    opacity: 0.7
    z-index: -1
    transform: scaleX(1)
  &_size-l
    font-size: 22px
    padding: 30px 25px
    max-width: 200px
    min-height: 120px
    line-height: 1.27
  &_size-m
    font-size: 18px
    width: 120px
    height: 120px
    //padding: 45px 0
  &_size-s
    font-size: 18px
    width: 95px
    height: 95px
    font-weight: bold
    //padding-top: 20px
  &_centered
    display: flex
    margin-left: auto
    margin-right: auto 